/* 
 * Where vars like --palette-fonts-sansSerifStack are used here, this relies on
 * requireCssVar("palette", "fonts", "sansSerifStack") being called somewhere in the
 * main code. This is done in stylePiping.ts.
 */

.ck.ck-poll-form {
	border-radius: 6px;
	border: 0.5px solid #E1E1E1;
	background: var(--palette-panelBackground-default);
	background: white;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.ck-reset_all .ck-poll-form-row {
	display: flex;
	gap: 12px;
}

.ck-reset_all .ck-poll-form-group {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.ck-reset_all .ck-poll-form-label {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: var(--palette-grey-600);
	font-family: var(--palette-fonts-sansSerifStack);
}

.ck-reset_all .ck-poll-form-input {
	background: var(--palette-grey-600);
	border-radius: 4px;
	opacity: 0.8;
	background: var(--palette-grey-200);
  min-width: 225px;
  max-width: 490px;
	width: 100%;
	padding: 8px;
	font-size: 13px;
	font-weight: 500;
	color: var(--palette-grey-1000);
	font-family: var(--palette-fonts-sansSerifStack);
}

.ck.ck-reset_all .ck.ck-poll-form .ck-poll-form-input:hover,
.ck.ck-reset_all .ck.ck-poll-form .ck-poll-form-input:focus {
	background: var(--palette-grey-300);
}

.ck.ck.ck.ck.ck.ck-poll-balloon {
	box-shadow: none;
  background: none; 
  border: none;
}

.ck-poll-balloon:before {
	display: none;
}

.ck-poll-balloon:after {
	display: none;
}

.ck-poll {
  font-family: var(--palette-fonts-sansSerifStack);
  text-align: center;
  background: var(--forum-event-background);
  border-radius: calc(var(--borderRadius-default) * 1px);
  margin: 10px 0;
  padding: 20px;
}
.ck-poll-question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--forum-event-banner-text);
}
.ck-poll-slider {
  position: relative;
  height: 2px;
  background: var(--forum-event-foreground);
  margin: 40px 40px 0px 40px;
}
.ck-poll-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--forum-event-foreground);
  opacity: 0.3;
}
.ck-poll-labels {
  display: flex;
  justify-content: space-between;
  color: var(--forum-event-banner-text);
  margin: 10px 40px;
}
.ck-poll-label {
  font-weight: 500;
  color: var(--forum-event-banner-text);
}
