# .ebextensions/99datadog.config
option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_AGENT_MAJOR_VERSION
      value: "7"
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_AGENT_MINOR_VERSION
      value: "" # Eg: 34 to install 7.34.x, leave empty to install the latest 7.x

files:
  "/etc/datadog-agent/datadog.yaml":
    mode: "000777" # Will: changed from 000644 in original to fix permission bug
    owner: root # will be changed to dd-agent after the installation
    group: root
    content: |
      # Add here the Agent configuration
      site: datadoghq.com
      api_key: DD_API_KEY
      logs_enabled: "true"
      dogstatsd_non_local_traffic: "true"
      apm_config:
        enabled: "true"
        apm_non_local_traffic: "true"
      # Enable process_collection to see the cpu and memory usage of individual processes
      process_config:
        process_collection:
          enabled: PROCESS_COLLECTION_ENABLED_PLACEHOLDER

  "/datadog_install_script.sh":
    mode: "000700"
    owner: root
    group: root
    source: https://s3.amazonaws.com/dd-agent/scripts/install_script.sh

container_commands:
    04patch_api_key:
        command: "sed -i.bak \"s/DD_API_KEY$/$DD_API_KEY/\" /etc/datadog-agent/datadog.yaml"
    05patch_process_collection:
        command: "sed -i.bak \"s/PROCESS_COLLECTION_ENABLED_PLACEHOLDER/$DD_PROCESS_CONFIG_PROCESS_COLLECTION_ENABLED/\" /etc/datadog-agent/datadog.yaml"
    06setup_datadog:
        command: "/datadog_install_script.sh; sed -i 's/ install_script/ ebs_install_script/' /etc/datadog-agent/install_info"
