.eslintcache
npm-debug.log
*.scssc
.sass-cache/*
.DS_Store
*-ck.js
providers_secret.js
*.sublime-project

unit-coverage
integration-coverage
combined-coverage

*.sublime-workspace
codekit-config.json

config.rb

.demeteorized

dump/
dump/*

settings*.json
*conn.txt
*settings.js
!settings-test-crosspost.json
!settings-test.json

.idea
.tern-project

scratch
tmp
.vscode/*
.cursor/*
.deploy
.deploy/*
### Meteor template
.meteor/local
.meteor/meteorite
mup*
!mup*.enc

packages_update.py

versions

get_file_list.sh
packages_update.py
publish_packages.sh

node_modules
node_modules.meteor

bundle.tar.gz

jsdoc-conf.json
jsdoc.json
packages/nova-router/.npm
npm-debug.log

typings
*.swp
*.un~

*.swp
*.un~

*.swp
*.un~
.vscode/launch.json

*.secret

build*
!build.ts
!buildUtil.js
yarn-error.log
public/lesswrong-editor/obj
ckEditor/obj

# Created by @shelf/jest-mongodb
globalConfig.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

cypress/screenshots/*
cypress/videos/*
!cypress/screenshots/.keep
!cypress/videos/.keep
.cypress

myLocalDatabase
myLocalDatabase/*

schema/schema_to_accept.sql

.branchdbcache

ml

client_meta.json
client_stats.html

playwright-report
test-results
ultrafeed_query_comparison.md
