
// Used in the vulcan-accounts package
.accounts-ui {

  input, button {
    width:100%;
  }
  button.btn-primary {
    text-transform: uppercase;
    padding:6px 16px;
    font-size:13px;
    line-height:23px;
  }

  input {
    font-size:16px;
    line-height:30px;
    border-bottom: solid 1px rgba(0,0,0,.2);
  }

  .buttons{
    button {
      background-color: rgba(0,0,0,0.1);
      color: rgba(0,0,0,0.87);
      border: none;
      border-radius:2px;

      &:hover, &:active, &:focus {
        background-color: rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.87);
      }
    }
    a{
      display:block;
      text-align: center;
      margin-bottom: $vmargin;
    }
  }
  .password-or-service{
    text-align: center;
    margin-bottom: $vmargin;
  }
  .social-buttons{
    @include flex-center;
    justify-content: space-between;
    button{
      padding: 0px;
      background-color: transparent;
      color: black;
      box-shadow: none;
      border: none;
      padding: 2px;
      &:hover, &:active, &:focus {
        background-color: rgba(0,0,0,0.1);
      }
      width: 100%;
      &:last-child{
        margin-right: 0 !important;
      }
    }
  }
}

// Used in the vulcan-accounts package
.password-reset-form{
  text-align: center;
}

// Used in the vulcan-accounts package
.accounts-ui{
  padding: 30px;
  width: 290px;
  margin:auto;
  .buttons{
    .btn{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: $vmargin;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
  .field{
    margin-bottom: $vmargin/2;
  }
  &.ready {
    a {
      width:50%;
      margin-left:auto !important;
      margin-right:auto !important;
    }
  }
  .message {
    color:red;
    word-wrap: break-word;
    max-width:210px;
  }
}

.form-component-checkboxgroup {
  .form-group.row {
    display:block;
  }
}
