@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  --ck-z-panel: 10000000002!important;
  --ck-z-modal: 10000000002!important;
  color: #000;
  font-size: 13px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@property --top-posts-page-scrim-opacity {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 36%;
}