.LWPostsItem-root.LWPostsItem-background.LWPostsItem-bottomBorder.LWPostsItem-isRead {
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}

span.PostsTitle-eaTitleDesktopEllipsis {
    color: white;
}

span.LWTooltip-root {}

span.LWTooltip-root {
    color: white;
}

span.Typography-root.Typography-body2.PostsItem2MetaInfo-metaInfo.PostsItemDate-postedAt {
    color: white;
}

a.UsersNameDisplay-noColor {
    color: white;
}

span.Typography-root.Typography-body2.PostsItem2MetaInfo-metaInfo.LWPostsItem-author {
    color: rgba(255,255,255,0.6);
}

button.TabPicker-tab.TabPicker-inactiveTab {
    background: rgba(0,0,0,0.1);
}

button.TabPicker-tab.TabPicker-inactiveTab {
    backdrop-filter: blur(2px);
}

button.TabPicker-tab.TabPicker-inactiveTab {
    color: white;
}

header.Header-appBar {
    background: rgba(0,0,0,0.2);
    color: white;
    backdrop-filter: blur(4px);
}

svg.MuiSvgIcon-root.SearchBar-searchIcon.ForumIcon-root {
    color: white;
}

span.UsersMenu-userButtonContents {
    color: white;
}

svg.MuiSvgIcon-root.KarmaChangeNotifier-starIcon.ForumIcon-root {
    color: white;
}

svg.MuiSvgIcon-root.ForumIcon-root {
    color: white;
}

a.Header-titleLink {
    color: white;
}

span.TabNavigationItem-navText {
    color: white;
}

.TabNavigationSubItem-root {
    color: white;
}

span.TabNavigationItem-icon {
    color: white;
}

span.TabNavigationItem-icon {
    fill: white;
}

.TabNavigationItem-icon svg {}

.TabNavigationItem-icon svg {
    color: white;
}

span.TabNavigationItem-navText {
    color: white !important;
}

.TabNavigationMenu-divider {}

.TabNavigationMenu-divider {
    color: white;
    background: white;
}

button.TabPicker-tab.TabPicker-activeTab {
    opacity: 0.8;
}

button.TabPicker-tab.TabPicker-activeTab {
    backdrop-filter: blur(3px);
}

.LWHomePosts-hideDesktopSettingsButtonOnMobile.LWHomePosts-tagFilterSettingsButtonContainerDesktop {
    background: rgba(0,0,0,0.1);
}

.LWPostsItem-postsItem.LWPostsItem-withGrayHover {}

.LWPostsItem-root.LWPostsItem-background.LWPostsItem-bottomBorder {
    background: rgba(0,0,0,0.2);
}

.LWPostsItem-root.LWPostsItem-background.LWPostsItem-bottomBorder {
    backdrop-filter: blur(10px);
}

.LWPostsItem-postsItem.LWPostsItem-withGrayHover {}

.LWPostsItem-root.LWPostsItem-background.LWPostsItem-isRead {
    background: rgba(0,0,0,0.2);
}

.LWPostsItem-root.LWPostsItem-background.LWPostsItem-isRead {
    backdrop-filter: blur(10px);
}

.LWPostsItem-root.LWPostsItem-background.LWPostsItem-isRead {}

.LWPostsItem-postsItem.LWPostsItem-withGrayHover {}

.LWPostsItem-row {
    /* margin-bottom: 2px; */
    display: flex;
    flex-direction: column;
}

::after {}

.TabPicker-rightFade::after {
    background: none;
}

.TabPicker-leftFade::before {
    background: none;
}

.IfAnyoneBuildsItSplash-title {
    color: white;
}

.IfAnyoneBuildsItSplash-subtitle {}

.IfAnyoneBuildsItSplash-authors {
    color: white;
}

a.IfAnyoneBuildsItSplash-preorderButton.IfAnyoneBuildsItSplash-preorderButtonAmazon {
    color: white;
}

a.IfAnyoneBuildsItSplash-preorderButton.IfAnyoneBuildsItSplash-preorderButtonAmazon {
    border-color: white;
}

a.IfAnyoneBuildsItSplash-altPreorderButton {
    color: white;
}

div {}

a.LoadMore-root.LoadMore-sectionFooterStyles {
    color: white;
}

a {}

aside.Typography-root.Typography-body2.SectionFooter-root {
    color: white;
}

.LWQuickTakesCollapsedListItem-root {}

.LWQuickTakesCollapsedListItem-root {
    color: white;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    border: none;
}

a.UsersNameDisplay-noColor {
    color: rgba(255,255,255,0.9) !important;
}

.LWQuickTakesCollapsedListItem-body {
    color: white;
}

.QuickTakesEntry-root {
    background: rgba(0,0,0,0.6);
    border: none;
}

.form-input.form-component-EditorFormComponent.CommentForm-fieldWrapper {
    background: rgba(0,0,0,0.5);
    color: white;
}

.EditorFormComponent-commentEditorHeight.EditorFormComponent-ckEditorStyles {
    color: white;
}

.CommentSubmit-submit.CommentSubmit-submitQuickTakes {
    background: rgba(0,0,0,1);
}

.ExpandableSection-title {
    color: white;
}

.LWPopularComment-root {
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    border: none;
}

.LWPopularComment-bodyWrapper.LWPopularComment-bodyCursor {
    color: white;
}

.LWPopularComment-body.LWPopularComment-bodyCollapsed {
    color: white;
}

.LWPopularComment-showParentComment {}

.LWPopularComment-showParentComment {
    color: white;
}

a.LoadMore-root {
    color: white;
}

.LWPostsItem-row::after {
    height: 2px;
    content: "";
    width: 100%;
    backdrop-filter: blur(10px);
}

.LWPostsItem-postsItem.LWPostsItem-withGrayHover:hover {
    background: rgba(0,0,0,0.3);
}

div#Cx92yxF2LpjdGG78T {}

.comments-node-root {
    background: rgba(0,0,0,0.2);
}

svg.MuiSvgIcon-root.ShowParentComment-icon {
    color: white;
}

p {}

.CommentBody-root.ContentStyles-base.content.ContentStyles-commentBody {
    color: white;
}

a.comments-item-reply-link.CommentsItem-replyLink {
    color: white;
}

svg {}

.AddReactionButton-addReactionButton svg {
    color: white;
}

.comments-node-even {
    background-color: rgba(0,0,0,0.2);
}

.ContentStyles-commentBody blockquote, .ContentStyles-commentBody li, .ContentStyles-commentBodyExceptPointerEvents, .ContentStyles-commentBodyExceptPointerEvents blockquote, .ContentStyles-commentBodyExceptPointerEvents li, .ContentStyles-debateResponseBody, .ContentStyles-debateResponseBody blockquote, .ContentStyles-debateResponseBody li {
    color: white;
}

.SingleLineComment-commentInfo.SingleLineComment-odd.ContentStyles-base.content.ContentStyles-commentBody {
    background: rgba(0,0,0,0.2);
    color: white;
}

.SingleLineComment-truncatedHighlight.ContentStyles-base.content.ContentStyles-commentBody {
    color: white;
}

.SingleLineComment-commentInfo.ContentStyles-base.content.ContentStyles-commentBody {
    background: rgba(0,0,0,0.2);
    color: white;
}

.comments-node-odd {
    background: rgba(0,0,0,0.2);
}

span.ReactionsPalette-hoverBallotLabel {
    color: black;
}

.LWPopularComment-body.CommentBody-commentStyling {
    color: white;
}

span.UltraFeed-titleTextDesktop {
    color: white;
}

.UltraFeedPostItem-root {
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

a.UltraFeedPostItem-title.UltraFeedPostItem-titleIsRead {
    color: white;
}

.ContentStyles-ultraFeed, .ContentStyles-ultraFeed blockquote, .ContentStyles-ultraFeed li {
    color: white;
}

.UltraFeedThreadItem-commentsRoot {
    background: rgba(0,0,0,0.3);
}

.UltraFeedCommentItem-numComments {
    color: white;
}

a.UltraFeedPostItem-title {
    color: white;
}

.LWTooltip-root span.BookmarkButton-container {}

.LWTooltip-root span.BookmarkButton-container {
    color: black;
}

.LWPopper-default a.UsersNameDisplay-noColor {
    color: black;
}

.ck-body-wrapper {}

.Layout-spacedGridActivated {}

.LWPostsItem-root.LWPostsItem-background {
    background: rgba(0,0,0,0.2);
}

.PostsItemComments-commentsIconLarge {}

svg.MuiSvgIcon-root.PostsItemComments-commentCountIcon.PostsItemComments-noUnreadComments {color: rgba(255,255,255,0.25);}

span.Badge-badge.NotificationsMenuButton-badge.NotificationsMenuButton-badgeBackground {
    color: white;
}