.users-account-menu{
  .icon{
    display: none;
  }
}

.accounts-ui{
  .buttons{
    button {
      background-color: rgba(0,0,0,0.1);
      box-shadow: none;
      color: rgba(0,0,0,0.87);
      &:hover, &:active, &:focus {
        background-color: rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.87);
      }
    }
    a{
      display:block;
      text-align: center;
      margin-bottom: $vmargin;
    }
  }
  .password-or-service{
    text-align: center;
    margin-bottom: $vmargin;
  }
  .social-buttons{
    @include flex-center;
    justify-content: space-between;
    button{
      padding: 0px;
      background-color: transparent;
      color: black;
      box-shadow: none;
      padding: 2px; 
      &:hover, &:active, &:focus {
        background-color: rgba(0,0,0,0.1);
      }
      width: 100%;
      &:last-child{
        margin-right: 0 !important;
      }
    }
  }
}

.password-reset-form{
  text-align: center;
}

.change-password-link{
  margin-bottom: $vmargin;
}
