.admin-home-layout {
  width:920px;
  margin:auto;
}

.moderation-log, .admin-home.page {
  font-family:$comments-font;

  h3 {
    font-size:20px;
    font-weight:600;
  }

  h2 {
    margin:1%;
  }
}

.moderation-log-deleted-comments,
.moderation-log-users-banned-from-posts,
.moderation-log-users-banned-from-users,
.admin-new-ip-bans,
.admin-current-ip-bans,
.admin-recent-logins,
.admin-all-users, {
  border:solid 1px rgba(0,0,0,.2);
  padding:10px;
  margin:1%;
  border-radius:2px;
}

.admin-recent-logins {
  background-color:rgba(50,100,50,.1);
}

.admin-all-users {
  background-color:rgba(100,50,50,.1);
}

.moderation-log-users-banned-from-posts,
.moderation-log-users-banned-from-users {
  width:48%;
  float:left;
}
