// TODO: Possibly rendered unused by example-forum merging.
.category-menu-item{
  position: relative;
}

.categories-edit-form-admin{
  @include flex-center;
  justify-content: space-between;
  margin-bottom: $vmargin * 2;
}