html {
  font-size: 13px;
}

h1, h2, h3, h4 {
  font-weight:500;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

textarea, textarea:focus, input, input:focus {
  border:none;
  outline:none;
}

button {
  border:none;
  box-shadow:none;
  cursor:pointer;
}
