$post-link-green: rgba(100, 142, 105, 1);
$post-link-hover: rgba(100, 142, 105, .6);

$light-green: #F0F7F1;

$light-yellow: #FFFBDB;

$lightest-grey: #f0f0f0;
$lighter-grey: #eee;
$light-grey: #ddd;

$light-blue: #DAEDFF;
$blue: #0275d8;
$white: #fff;
$medium-grey: rgba(0,0,0,0.54);
$dark-grey: rgba(0,0,0,0.64);
$darker-grey: rgba(0, 0, 0, 0.75);
$black: #333;

$red: #E04E4B;

$header-bg: $light-blue;

$active-color: $lightest-grey;

$lightest-border: $lightest-grey;
$lighter-border: $lighter-grey;
$light-border: $light-grey;

$light-text: $medium-grey;
$medium-text: $dark-grey;
$dark-text: $darker-grey;
