$card-padding: 20px;

.collections-page {
  margin-right: 90px;
}

.collections-header {
  padding-left: 20px;
  margin-bottom: 50px;
}

.collections-title {
  font-weight: bold;
  text-transform: uppercase;
  border-top-style: solid;
  border-top-width: 4px;
}

.collections-description {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 1.25;
}

.collection-card-item {
  position:relative;
  display: inline-block;
  .collection-card {
    position: relative;
    padding: $card-padding;
    height: 312px;
    box-shadow: none !important;
    margin-bottom: 5px;
    & > div {
      display: flex;
      flex-direction: column;
    }
    .collection-card-content {
      width: 313px;
      border-top-style: solid;
      border-top-width: 4px;
      margin-left: auto;
      padding-top: 10px;
      color: rgba(0,0,0,0.6);
    }
    .collection-card-title {
      color: rgba(0,0,0,0.7);
      font-size: 30px !important;
      padding: 0px !important;
      line-height: 120% !important;
      padding-bottom: 10px !important;
      .users-name:hover {
        color: rgba(0,0,0,0.3);
      }
    }
    .collection-card-author {
      font-weight: 400;
      margin-top: 3px;
    }
    .collection-card-text {
      padding: 0px !important;
      line-height: 1.4rem !important;
      font-size: 1.1rem !important;
    }
    .collection-card-media {
      position: absolute !important;
      order: 2;
      height: 90px;
      width: 313px;
      overflow:hidden;
      bottom: 20px;
    }
    a:hover {
      text-decoration: none;
    }
  }
  &:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    z-index: 100;
    .collection-card-link {
      text-decoration: none;
    }
  }
  &.big {
    width: auto;
    .collection-card {
      & > div {
        flex-direction: row;
      }
    }
    .collection-card-media {
      position: relative !important;
      order: 0;
      bottom: inherit;
      width: 335px;
      height: 271px;
    }
    .collection-card-content {
      margin-left: 20px;
    }
  }
}

.recommended-reading-section {
  margin-top: -20px;
}



.book-subtitle {
    line-height: 1.1;
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
}

.book-description {
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 25px;
}

.chapters-edit-form {
    width: 700px;
    margin-left: auto;
    margin-right: 75px;
}

@include collection-card-break() {
  .posts-item {
    margin-top: 20px;
  }
}
