$card-padding: 20px;

.collections-page {
  margin-right: 90px;
}

.collections-header {
  padding-left: 20px;
  margin-bottom: 50px;
}

.collections-title {
  font-weight: bold;
  text-transform: uppercase;
  border-top-style: solid;
  border-top-width: 4px;
  line-height: 1;
  padding-top: 10px;
}

.collections-description {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 1.25;
}

.recommended-reading-section {
  margin-top: -20px;
}



.book-subtitle {
    line-height: 1.1;
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
}

.book-description {
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 25px;
}

.chapters-edit-form {
    width: 700px;
    margin-left: auto;
    margin-right: 75px;
}
