
// TODO: These classes are used by 248 posts in the database that were authored
// while LW2 was using ory-editor, which we have since migrated away from.
// Getting rid of these styles safely requires updating the formatting of those
// posts (or at least figuring out what this style actually does).
.ory-cell-inner.ory-cell-leaf {
  @include max-small {
    > div > div > div > div {
      padding-left:0 !important;
      padding-top:0 !important;
      padding-bottom:0 !important;
    }

    button {
      width:20px !important;
      height:20px !important;
      margin:0 3px !important;
    }
    > div > div > div > div {
      display:none !important;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////

.editor {
  min-height: 220px;
  border-radius: 2px;
  margin-bottom: 2em;
}

// FIXME TODO: This CSS is unused/not being applied, but actually it should
// be--it would fix the click-target of the comment and post editors being
// really short.
.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}
.public-DraftStyleDefault-unorderedListItem div,
.public-DraftStyleDefault-orderedListItem div {
  margin:0;
}


.editor blockquote div, .editor blockquote span {
  margin:0;
}

// Editor clearfix
// TODO: This is a hideous hack
figure:after {
  content: "Foo";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.draft-image {
  display: block;
}

.draft-image.center {
  margin-left: auto;
  margin-right: auto;
}
.draft-image.right {
  float: right;
}


//Hotfix for inline-Toolbar alignment TODO: Fix this in a more systematic way

.form-component-CommentEditor {
  position: static !important;
}

.image-form-invalid {
  color: #e65757;
}

.image-form {
  height: 34px;
  width: 220px;
  padding: 0 12px;
  font-size: 15px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: #444;
}

.form-component-EditorFormComponent {
  position: static !important;
}

// Divider plugin styles

.dividerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 32px 0;
  border: none; /* strip default hr styling */
  text-align: center;
}

.dividerBlock::after {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.26); /* pick a color */
  font-size: 1rem;
  letter-spacing: 12px; /* increase space between dots */
  content: '•••';
}


:root {
  // This is the only place I could find that successfully overrode the ckEditor zIndex
  // necessary to ensure it works on modal dialogs
  // (also tried adding it to Layout.jsx's JSS, and to the styles file in the ckeditor folder)
	--ck-z-modal: 10000000002 !important;
}