select.form-control{
  height: 38px;
}

//////////////////////////////////////////////////////////////////////////////
// Styles for vulcan-forms
.control-label{
  strong{
    font-weight: normal;
  }
}

.form-input {
  margin:16px 0;
  position: relative;
}

.form-group {
  margin-bottom: 0;
}

.form-component-EditTitle {
  margin:0;
}

.form-group.row {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.form-control-limit{
  position: absolute;
  background: white;
  padding: 5px;
  bottom: 5px;
  right: 5px;
  color: $light-grey;
  font-size: 80%;
  &.danger{
    color: #EF1642;
  }
}

//////////////////////////////////////////////////////////////////////////////

// TODO: Possibly used by a library, or possibly unused
.modal-dialog {
  margin-top: 100px !important;
}

.form-cancel {
  margin-left:25px;
}

.form-component-MuiInput {
  margin-bottom: 0px;
}

.multi-select-buttons-button {
  border-radius: 0px !important;
  text-transform: none !important;
  min-width: 63px !important;
}

.multi-select-buttons-label {
  margin-right: 10px;
}

.form-component-AlignmentCheckbox {
  position:relative;
}


@include max-small() {
  .primary-form-submit-button {
    float: left;
  }
}
