.main, .footer {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $hmargin;
  max-width: 1200px;

  @include max-small {
    padding-left:0;
    padding-right:0;
  }
}

.main {
  margin-top: 64px;
  margin-bottom: $vmargin;
}

a{
  cursor: pointer;
  color: inherit;
}

div p a, div ul a, div ol a {
  @include link-underline(#fff, rgba(0,0,0,0.87), #b4d5f3, rgba(0,0,0,0.3))
}


.page-title{
  margin-bottom: $vmargin*2;
}

.message.error {
  color: $red;
}

.ais-InstantSearch__root {
  font-family: inherit !important;
}

h1 {
  font-size: 40px;
}

@mixin frontpage-subtitle-link() {
  color: rgba(0, 0, 0, .45) !important;
  font-size:16px;
  text-decoration: none !important;
  font-style:italic;
  position:relative;
  top:12px;
  &:focus, &:active, a, a:focus, a:active {
    color: rgba(0, 0, 0, .5) !important;
    text-decoration: none !important;
  }
  &:hover, a:hover {
    color:rgba(0, 0, 0, .3) !important;
  }

  @include max-small() {
    top:0px;
    margin-left:10px;
  }
}
