
.message.error {
  color: $red;
}

.ais-InstantSearch__root {
  font-family: inherit !important;
}

.noscript-warning {
  padding: 20px;
  font-size: 17px;
}

// Global link styling
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  opacity: 0.5;
}
