
.message.error {
  color: $red;
}

.ais-InstantSearch__root {
  font-family: inherit !important;
}

.noscript-warning {
  padding: 20px;
  font-size: 17px;
}

// Global link styling
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  opacity: 0.5;
}

// Hide ReCaptcha box (see: https://developers.google.com/recaptcha/docs/faq)
.grecaptcha-badge { visibility: hidden; } 

.reCaptcha-text {
  font-family: sans-serif;
  color: rgba(0,0,0,0.5);
  font-size: 11px;
}