$header-mobile: 43px !important;

.nav{
  @include flex-center;
  @include small{
    border-top: 1px solid $medium-grey;
    margin-top: $vmargin;
    padding-top: $vmargin;
    justify-content: space-between;
  }
  @include medium-large{
    .nav-user{
      margin-right: $hmargin;
    }
  }
  .nav-new-post{
    @include small{

    }
  }
}


.users-account-menu, .users-menu{
  display: inline-block;
  vertical-align: text-bottom;
  margin-top: 5px;

  color: rgba(0,0,0,0.5) !important;
  .dropdown-toggle{
    @include flex-center;
    padding: 0;
    background: none;
    img{
      margin-right: 5px;
    }
  }
}

.accounts-ui{
  padding: $vmargin;
  width: 240px;
  margin:auto;
  .buttons{
    .btn{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: $vmargin;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.search {
  display: inline-block;
}

.notifications-menu {
  display: inline-block;
  vertical-align: top;
}

.notifications-menu-container {
  @include max-tiny() {
    top: $header-mobile;
  }
}

.notifications-menu-inbox-button {
  height: 40px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: #1B5266;
  &:hover {
    text-decoration: none !important;
    color: #0C869B !important;
  }
}

.notifications-menu-inbox-button-text {
  height: 40px;
  font-size: 14px;
  padding-top: 8px;
}

.notifications-menu-top {
  padding: 10px;
}

.notifications-menu-actions {
  float: right;
  a {
    color: rgba(0,0,0,0.5) !important;
    margin-left:8px;
  }
  a:hover {
    color: rgba(0,0,0,0.3) !important;
    text-decoration: none;
  }
}
.notifications-menu-hidden-tab {
  pointer-events: none;
}
.notifications-hide-button {
  position:absolute;
  top:0;
  right:5px;
}

.notifications-list-empty {
  padding: 10px;
}

.notifications-item {
  &:hover {
    background-color: rgba(0,0,0,0.02) !important;
  }
  &.read:hover {
    background-color: rgba(0,0,0,0.08) !important;
  }
}
