
.users-menu{
  display: inline-block;
  vertical-align: text-bottom;
  margin-top: 5px;

  color: rgba(0,0,0,0.5) !important;
}

// Used in vulcan-accounts
.accounts-ui{
  padding: $vmargin;
  width: 240px;
  margin:auto;
  .buttons{
    .btn{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: $vmargin;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

// TODO: Figure out if this is used
.search {
  display: inline-block;
}

