
// Used in vulcan-accounts
.accounts-ui{
  padding: $vmargin;
  width: 240px;
  margin:auto;
  .buttons{
    .btn{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: $vmargin;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
