
//Styles for header scrolling, provided by react-headroom: https://github.com/KyleAMathews/react-headroom

// TODO: This is probably unused, but is a bad search term so hard to remove
// safely.
.header {
  height: inherit;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1300;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
