
.wrapper {
  @include mui-breakpoint-down-sm {
    .collections-page {
      margin-right: 0px;
    }
  }
  @include max-tiny() {
    .collection-card {
      padding: 0px !important;
    }
    .posts-list {
      .posts-list-content {
        margin-left: 0px;
      }
    }
    .recent-comments-list {
      margin-left: 0px;
      .comments-item {
        padding:0px 7px;
      }
    }
  }
}

//Styles for header scrolling, provided by react-headroom: https://github.com/KyleAMathews/react-headroom

// TODO: This is probably unused, but is a bad search term so hard to remove
// safely.
.header {
  height: inherit;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1300;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
