$lw-green: #588f27;

.community-home, .local-group-page {
  margin-top: 500px;
}

.community-map {
  position: absolute;
  width: 100vw;
  height: 500px;
  top: 0px;
  left: 0px;
}

.local-group-marker {
  color: $lw-green !important;
  transform: translateX(-50%) translateY(-100%);
  font-size: 30px !important;
}

// Recommended styling for React-geosuggest: https://github.com/ubilabs/react-geosuggest/blob/master/src/geosuggest.css

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  padding-right: 3px;
  width: 100%;
  text-align: left;
}

.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em 0.5em 0em !important;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
  &:focus {
    outline: none;
  }
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}

.new-local-group-form, .new-local-event-form {
  div { font-family: $comments-font }
  .editor {
    min-height: 50px;
    font-size: 1.1rem;
    position: relative;
  }
  .form-submit {
    margin-top: 10px;
    text-align: right;
  }
}

.form-component-MuiTextField {
  margin-bottom: 0px;
}

.mui-text-field-form-component {
  width: 350px !important;
}

.mui-text-field {
  input { box-shadow: none }
  input:focus {
    box-shadow: none;
  }
}

.new-local-group-form-body, .new-local-event-form-body {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}
