$lw-green: #588f27;

.community-home, .local-group-page {
  margin-top: 500px;
}

.community-map {
  position: absolute;
  width: 100vw;
  height: 440px !important;
  top: 64px;
  left: 0px;
  @include max-tiny {
    top: 43px !important;
  }
}

.local-group-marker {
  color: $lw-green !important;
  transform: translateX(-50%) translateY(-100%);
  font-size: 30px !important;
}

// Recommended styling for React-geosuggest: https://github.com/ubilabs/react-geosuggest/blob/master/src/geosuggest.css

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  padding-right: 3px;
  width: 100%;
  text-align: left;
}

.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em 0.5em 0em !important;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
  &:focus {
    outline: none;
  }
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}

.local-group-new-form, .local-group-edit-form {
  div { font-family: $comments-font }
  .editor {
    min-height: 50px;
    font-size: 1.1rem;
    position: relative;
  }
  .form-submit {
    margin-top: 10px;
    text-align: right;
  }
  .content-editor-is-empty:before {
    content: "Short Description";
    max-width: 640px;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
  }
  .form-component-select {
    .col-sm-9 {
      width: 100%;
      padding: 0px;
    }
    label {
      display: none;
    }
    .form-component-clear {
      display: none;
    }
  }
}

.local-group-form-body {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.small-map-preview-wrapper {
  padding-top: 5px;
  margin-bottom: 20px;
}

.posts-page-group-details {
  text-align: center;
  margin-bottom: 10px;
}

.local-group-location {
  font-size: 11px;
  color: rgba(0,0,0,0.6);
  display: inline-block;
  max-width: 130px;
  line-height: 1.25;
  margin-top: 5px;
}

.local-groups-description {
  font-size: 20px;
  line-height: 1.25;
  margin-left: 24px;
}

.group-links {
  position: absolute;
  bottom: 0px;
  right: -2px;
}

.group-links-facebook-icon {
    width: 12px !important;
    height: 12px !important;
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 0px;
    transform: translateY(1px);
}

.group-links-link-icon {
  height: 17px !important;
  width: 17px !important;
  padding-top: 2px;
  transform: translateY(3px) rotate(-45deg);
}

.local-group-marker-name {
  font-size: 15px;
  margin-top: 3.5px;
}

.local-group-marker-close-icon {
  position: absolute;
  right: -3px;
  top: 4px;
  color: rgba(0,0,0,0.5) !important;
  height: 15px !important;
  width: 15px !important;
}

.local-group-marker-contact-info {
    margin-bottom: 10px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}

.local-group-marker-page-link {
  font-weight: 400;
  color: rgba(0,0,0,0.4);
}

/* Experimental: Somewhat hacky solution to get rid of close window in google Info Windows */
.gm-style-iw + div {display: none;}

.local-groups-item-title {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom:5px;
  font-weight: 500;
  padding-top:10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  z-index: 400 !important;
  margin-right:10px;
}

.local-groups-item {
  margin-left:13px;
  font-size:14px;
  padding-left:10px;
  padding-bottom:5px;

  @include max-tiny() {
      margin-left:0;
      padding-left:0;
  }

  a:hover, a:visited, a:focus {
    text-decoration:none;
  }
  a:hover {
    color:rgba(0,0,0,.4);
  }
}
.local-group-organizer, .local-groups-item-location {
  color:rgba(0,0,0,.4);
  margin-right:8px;
}


.local-groups-menu {
  @include frontpage-subtitle-link()
}

.community-home-list-divider {
  margin-top: 12px;
  margin-right: 37px;
  margin-left: 32px;
  border: 0;
  border-top: 1px solid #eee;
}

.local-event-marker-body, .local-group-marker-body {
  max-height: 250px;
  overflow: scroll;
  margin-bottom: 10px;
}

.community-map-filter-wrapper {
  position: absolute;
  top: 10px;
  padding: 10px 10px 5px 10px;
  right: 10px;
}
