
/* Experimental: Somewhat hacky solution to get rid of close window in google Info Windows */
.gm-style-iw > button {
  display: none !important;
}

/* Hacky solution for double-scrollbar on Google Maps markers. */
.gm-style-iw > div {
  overflow: visible;
  padding-bottom: 20px;
}
