// Bootstrap Modal component styles
// Was originally part of _bootstrap.scss, then deleted breaking things, now
// restored to un-break them. Ideally we would like to not depend on Vulcan's
// Components.ModalTrigger (which in turn depends on react-bootstrap's Modal).

div[role=dialog] {
  .fade{
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear;
    
    &.in {
      opacity:1;
    }
  }
  
  .modal, .modal-backdrop {
    right:0;
    bottom:0;
    left:0
  }
  .modal-title,.popover,.tooltip{line-height:1.846}
  
  .close{
    float:right;
    color:#000;
    text-shadow:none;
    filter:alpha(opacity=20);
    
    padding:0;
    cursor:pointer;
    background:0 0;
    border:0;
    -webkit-appearance:none;
    
    &:focus, &:hover {
      color:#000;
      text-decoration:none;
      cursor:pointer;
      opacity:.5;
      filter:alpha(opacity=50)
    }
  }
  
  .modal-content,.popover{background-clip:padding-box}
  
  .modal{
    display:none;
    position:fixed;
    top:0;
    z-index:1050;
    -webkit-overflow-scrolling:touch;
    outline:0;
    overflow: hidden;
    
    &.fade .modal-dialog{
      -webkit-transform:translate(0,-25%);
      -ms-transform:translate(0,-25%);
      -o-transform:translate(0,-25%);
      transform:translate(0,-25%);
      -webkit-transition:-webkit-transform .3s ease-out;
      -moz-transition:-moz-transform .3s ease-out;
      -o-transition:-o-transform .3s ease-out;
      transition:transform .3s ease-out;
    }
    &.in .modal-dialog{
      -webkit-transform:translate(0,0);
      -ms-transform:translate(0,0);
      -o-transform:translate(0,0);
      transform:translate(0,0);
    }
    .modal-dialog{
      position:relative;
      width:auto;
      margin:10px;
      
      .modal-content{
        position:relative;
        background-color:#fff;
        border:1px solid transparent;
        border-radius:3px;
        -webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
        box-shadow:0 3px 9px rgba(0,0,0,.5);
        outline:0;
        
        .modal-header{
          padding: 15px;
          border-bottom: 1px solid transparent;
          .close { margin-top:-2px }
        }
        .modal-body{
          position:relative;
          padding:15px;
        }
      }
      .modal-title{margin:0}
      
      .modal-footer {
        padding:15px;
        text-align:right;
        border-top:1px solid transparent;
      
        .btn+.btn{margin-left:5px;margin-bottom:0}
        .btn-group .btn+.btn{margin-left:-1px}
        .btn-block+.btn-block{margin-left:0}
      }
    }
  
    @media (min-width:768px){
      & {width:600px;margin:30px auto}
      .modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
      &.modal-sm{width:300px}
    }
    @media (min-width:992px){
      &.modal-lg{width:900px}
    }
  }
  
  .modal-open .modal{overflow-x:hidden;overflow-y:auto}
  
  .modal-backdrop{
    position:fixed;
    top:0;
    z-index:1040;
    background-color:#000;
    
    &.fade{opacity:0;filter:alpha(opacity=0)}
    &.in{opacity:.5;filter:alpha(opacity=50)}
  }
  
  .modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
}