.footer{
  text-align: center;
  margin-bottom: $vmargin;
}

.search-form{
  .form-group{
    margin-bottom: 0;
  }
}

.private{
  text-transform: uppercase;
  font-size: $smaller-font;
  color: $red;
}

.dropdown-item.active{
  a{
    color: $white;
  }
}

.email-link {
  text-decoration: underline !important;

  &:hover {
    color:rgba(0,0,0,.5);
  }
}
