
//////////////////////////////////////////////////////
// Post List                                        //
//////////////////////////////////////////////////////

.recent-posts-title-component {
  font-style: italic;
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(0,0,0,0.6);

  .new-post-link {
    margin-top: 20px;
    @include max-tiny() {
      margin-top:10px;
      margin-left:10px;
    }
    a {
      color: rgba(0,0,0,0.6);
    }
    a:hover {
      text-decoration: none;
    }
  }
  a:hover {
    color: rgba(0,0,0,0.4) !important;
  }
  @include mui-breakpoint-down-sm {
    br {
      display: none;
    }
    margin-top: 0px;
    display: inline;
  }
  @include max-tiny() {
    margin-top:10px;
  }
}
.posts-list-content {
  & > div > div:first-of-type {
    border-top: none;
  }
  margin-left: 3px;
  margin-top: -7px;
  padding: 0 10px;
  a {
    background-image: none;
    text-shadow: none;
  }
  @include max-tiny() {
    padding:0;
    margin-left: 0px;
  }
}

.posts-views {
  .view-chip {
    display: inline-block;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    color: rgba(0,0,0,0.5);
    padding-left: 3px;
    padding-right: 0px;
    line-height: 25px;
    cursor: pointer;
    text-decoration: none !important;
    position:relative;

    .view-chip-menu-wrapper {
      position:absolute;
      border-radius:2px;
      right:-266px;
      top:-12px;
      display:none;
      text-align: left;
      z-index:1;
      padding-left:5px;

      @include max-small() {
        left:-25px;
        top:20px;
      }
    }
    
    @include mui-breakpoint-down-sm {
      padding-left: 0px !important;
    }
  }
  .view-chip.daily {
    display:block;
  }
  .view-chip:hover .view-chip-menu-wrapper, .view-chip-menu-wrapper:hover {
    display:block;
  }
}

.posts-views-chip-active {
  color: rgba(0, 0, 0, .8) !important;
  text-decoration:underline !important;
}

.posts-views-chip-inactive:hover {
  color: rgba(0, 0, 0, .3);
}

.posts-load-more, .comments-load-more {
  font-size: 16px;
  color: rgba(100, 169, 105, 0.6);

  margin-left: 10px;
  padding-top: 5px;
  @include max-small() {
    margin-top:20px;
  }
  @include max-tiny() {
    margin-left:0;
  }
}

//////////////////////////////////////////////////////
// Other Elements                                   //
//////////////////////////////////////////////////////

.posts-no-results{
  margin-left:10px;
  margin-top: $vmargin;
}

.posts-edit-form-admin{
  @include flex-center;
  justify-content: space-between;
  margin-bottom: $vmargin * 2;
}

.posts-search-auto-complete {
  li {
    list-style: none;
  }
  .react-autosuggest__suggestion--highlighted {
      background-color: rgba(0,0,0,0.05);
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
  }
}

.posts-list-edit-item-title {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  line-height: 1.25;
}

.posts-list-edit-item-meta {
  display: inline-block;
  color: rgba(0,0,0,0.5);
  div {
    display: inline-block;
    margin-right: 5px;
  }
}

svg.drag-handle {
    pointer-events: none;
    position: absolute;
    display: block !important;
    color: rgba(0,0,0,0.5);
    margin: auto;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

.posts-list-edit-item-box {
  display: block;
  margin-left: 30px;
  .posts-list-edit-item-remove {
    opacity: 0;
    position: absolute;
    right: 0px;
    cursor: pointer;
    .remove-icon {
    color: rgba(0,0,0,0.3) !important;
    }
  }
  &:hover .posts-list-edit-item-remove {
    opacity: 1;
  }
}

.posts-list-editor-item {
  list-style:none;
  position: relative;
  padding: 5px;
  cursor:pointer;
}
.posts-list-editor .ais-InstantSearch__root {
  margin:20px 0;
}

.sequences-navigation-top, .posts-page-group-details {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 30px;
    min-height: 48px;
}

.posts-item .recent-comments-list {
  margin:0;
}

@include max-small() {
  .primary-form-submit-button {
    float: left;
  }
}
