
//////////////////////////////////////////////////////
// Post List                                        //
//////////////////////////////////////////////////////

.posts-list-header{
  @include medium-large{
    @include flex-center;
    justify-content: space-between;
  }
  margin-bottom: $vmargin;
}

.posts-list-header-categories{
  @include small{
    margin: 0 auto;
    margin-bottom: $vmargin;
    text-align: center;
    .btn-group{
      margin-right: 0;
      width: 100%;
    }
    .dropdown-toggle{
      width: 100%;
    }
  }
}

.recent-posts-title-component {
  font-style: italic;
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(0,0,0,0.6);

  .new-post-link {
    margin-top: 20px;
    @include max-tiny() {
      margin-top:10px;
      margin-left:10px;
    }
    a {
      color: rgba(0,0,0,0.6);
    }
    a:visited {
      color: inherit;
    }
    a:hover {
      text-decoration: none;
    }
  }
  a:hover {
    color: rgba(0,0,0,0.4) !important;
  }
  @include section-header-break {
    br {
      display: none;
    }
    margin-top: 0px;
    display: inline;
  }
  @include max-tiny() {
    margin-top:10px;
  }
}
.posts-list-content {
  & > div > div:first-of-type {
    border-top: none;
  }
  margin-left: 3px;
  margin-top: -7px;
  padding: 0 10px;
  a {
    background-image: none;
    text-shadow: none;
  }
  @include max-tiny() {
    padding:0;
  }
}

.posts-views {
  .view-chip {
    color: $light-blue;
    display: inline-block;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    color: rgba(0,0,0,0.5);
    padding-left: 3px;
    padding-right: 0px;
    line-height: 25px;
    cursor: pointer;
    text-decoration: none !important;
    position:relative;

    .view-chip-menu-wrapper {
      position:absolute;
      border-radius:2px;
      right:-266px;
      top:-12px;
      display:none;
      text-align: left;
      z-index:1;
      padding-left:5px;

      @include max-small() {
        left:-25px;
        top:20px;
      }
    }
    .view-chip-menu {
      border-radius:2px;
      background-color: rgba(0,0,0,.8);
      box-shadow:1px 1px 4px rgba(0,0,0,.2);
      color:rgba(255,255,255,.75);
      width:260px;
      font-weight:300;
      line-height:18px;
      font-size:12px;
      white-space: pre;
      // font-family:$comments-font;
      padding:10px 0;
      z-index:1;
    }
  }
  .view-chip:hover .view-chip-menu-wrapper, .view-chip-menu-wrapper:hover {
    display:block;
  }


  @include max-medium {
    .posts-view-button {
      &::after {
        content: "|";
        margin-left: 5px;
        margin-right: 5px;
        font-style: normal;
      }
      float: left;
    }
    .view-chip {
      padding-left: 0px !important;
    }
  }
}

.posts-views-chip-active {
  color: rgba(0, 0, 0, .8) !important;
  text-decoration:underline !important;
}

.posts-views-button-inactive  {
  .rss-out-linkbuilder {
    color: rgba(0,0,0,0.45);
  }
}
.view-chip-menu-item {
  font-style:normal;
  z-index:2;
  color:rgba(255,255,255,.75);
  text-decoration: none;
  border-top:solid 1px rgba(255,255,255,.2);
  padding:5px 10px;
  &:hover {
    background:rgba(255,255,255,.2);
  }
  &.includes, &.description {
    border-top:none;
    &:hover {
      background:none;
    }
  }
  &.learn-more {
    border-top:none;
  }
}

.posts-views-chip-inactive:hover {
  color: rgba(0, 0, 0, .3);
}



.posts-list-header{
  @include medium-large{
    .search-form, .posts-list-header-categories button, .posts-views button{
      width: 160px;
    }
  }
}

.posts-load-more, .comments-load-more{
  font-size: 16px;
  color: #0C869B;
}

.posts-load-more, .comments-load-more {
  margin-left: 10px;
  padding-top: 5px;
  @include max-small() {
    margin-top:20px;
  }
  @include max-tiny() {
    margin-left:0;
  }
  .posts-load-more-link{
    &:hover, &:focus, &:active{
      text-decoration: none !important;
      background: inherit;
      opacity:0.6;
    }
  }
}

.posts-load-more-days {
  display: block;
  margin-top: 10px;
}

//////////////////////////////////////////////////////
// Post Item                                        //
//////////////////////////////////////////////////////

.posts-item {
  position:relative;
  &:hover {
    background-color: rgba(0,0,0,.025) !important;
  }

  .posts-item-content {
    display: flex;
    align-items: stretch;
    cursor:pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.03) !important;
    }
  }
  &.show-highlight:hover {
    background-color:white !important;
    .posts-item-content {
      background: white !important;
    }
  }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
  }
  .posts-item-show-highlight-button {
    display:none;
  }
  .post-feed-nickname{
    font-size: 0.9rem;
    color: rgba(0,0,0,0.5);
    margin-right: 5px;
    @include max-tiny() {
      display:none;
    }
  }

  .posts-item-meta {
    display: block;
    color: rgba(0,0,0,0.5);
    width:100%;
    max-width: 570px;
    padding-bottom:5px;
    & > div {
      display: inline;
      margin-right: 5px;
    }
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include max-tiny() {
      width:320px;
      padding-left:3px;
    }
    .posts-item-show-highlight-button {
      opacity:0;
      margin-left:4px;
    }
    &:hover {
      @include min-medium() {
        cursor: pointer;
        .posts-item-show-highlight-button {
          display:inline;
          opacity:.7;
          margin-left:4px;
        }
      }
    }

    // .posts-item-readtime {
    //   margin-right:10px;
    // }
  }
  .posts-item-title-link:hover {
    color:rgba(0,0,0,.4) !important;
  }
  .posts-item-highlight-content {
    overflow: hidden;
    max-width:550px;
  }
  .posts-item-highlight-footer {
    padding:35px 0 0px;
    text-align: center;
    clear:both;
    overflow: auto;
  }
  .posts-item-view-full-post, .posts-item-hide-highlight {
    color:rgba(0,0,0,.6);
    font-size: 12px;
    cursor:pointer;
    position:absolute;
    padding:10px 0;
    bottom:0;
    height:35px;
    background: white;
    border-top:solid 1px rgba(0,0,0,.05);

    &:hover {
      // color:rgba(0,0,0,.35);
      background-color: rgb(240,240,240);
    }
  }
  .posts-item-view-full-post {
    right:0;
    text-align:center;
    width:50%;
  }
  .posts-item-hide-highlight {
    position:absolute;
    left:0;
    text-align:center;
    width:50%;
    border-right:solid 1px rgba(0,0,0,.05);
  }
  .post-item-new-comments-footer {
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
  }
  // .post-item-new-comments-header {
  //   position:absolute;
  //   top:0;
  //   width:100%;
  //   left:0;
  // }
  .posts-item-hide-comments, .posts-item-view-all-comments {
    color:rgba(0,0,0,.5);
    padding:0 15px;
    font-size: 12px;
    cursor:pointer;
    padding:10px;
    height:35px;
    &:hover {
      color:rgba(0,0,0,.35);
      background-color: rgba(0,0,0,.1);
    }
  }
  .posts-item-view-all-comments {
    float:right;
    right:0;
    text-align:center;
    width:50%;
  }
  .posts-item-hide-comments {
    float:left;
    text-align:center;
    width:50%;
    border-right:solid 1px rgba(0,0,0,.05);
  }
  .posts-item-comments {
    width: 50px;
    cursor:pointer;
    position:relative;
    flex-shrink: 0;

    &.selected {
      background-color: rgba(0,0,0,.05);
    }
    &.highlight-selected {
      border-left: solid 1px rgba(0,0,0,.05);
      background-color: rgba(0,0,0,.02);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.03) !important;
    }
  }
  .vote {
    .material-icons {
      vertical-align:middle;
      font-size: 16px !important;
      border-radius: 100%;
      &:hover {
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
}

.hide-highlight-button, .show-highlight-button {
  color:rgba(0,0,0,.5) !important;
  font-size:12px !important;
  left:4px;
}
.hide-highlight-button {
  top:2px;
  transform: rotate(90deg);
}
.show-highlight-button {
  top:4px;
  transform: rotate(-90deg);
}

.posts-categories{
  display: inline;
}

.posts-item-meta{
  display: inline;
  font-size: 1rem;
  line-height: 1.4rem;
  .users-name, .posts-item-date, .posts-item-comments, .posts-item-admin, .posts-actions, .posts-item-user, .posts-item-unread-dot {
    display: inline;
  }
}

.posts-commenters-avatars{
  display: flex;
  .avatar{
    margin-right: $hmargin;
  }
}

//////////////////////////////////////////////////////
// Post Page                                        //
//////////////////////////////////////////////////////



.posts-page-content-header-author {
  text-align: center;
  color: rgba(0,0,0,0.5);
  font-size: 16px;

  a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
  }
}

.posts-page-content-body-metadata {
  position: absolute;
  right: 100%;
  width: 200px;
  padding-right: 30px;
  text-align: right;
  color: rgba(0,0,0,0.5);
  .posts-page-content-body-metadata-date {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    margin-bottom: -5px;
  }
  .posts-page-content-body-metadata-comments {
    font-size: 14px;
  }
  .posts-page-content-body-metadata-actions {
    font-size: 14px;
    @media print { display: none; }
  }
}

.section {
  margin-right: 235px;
  .section-title {
    top: 0px;
    padding-right: 15px;
    right: 100%;
  }
  .section-content {
    display: relative;
  }
}
@include posts-page-section-header-break() {
  .section {
    border-top-style: solid;
    width: 715px !important;
    display: inherit !important;
    margin-right: auto;
    border-top-width: 4px;
    padding-top: 4px;
    .section-title {
      position: relative;
      padding: 0px;
      margin-bottom: 0px;
      width: auto !important;
      text-align: inherit;
      display: block;
      right: inherit;
      h2 {
        &:before {
          display: none;
        }
        display: inline;
        margin-right: 10px;
        border-top-style: none;
      }
      .sequences-navigation-title-subtitle {
        display: inline-block;
      }
      .comments-title-component {
        margin-left: 0px;
      }
      .highlight-date-selector {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .section-content {
      margin-top: 20px;
    }
  }
  .posts-page-content-header {
    margin-bottom: -8px;
  }
  .posts-page-content-body-metadata {
    position: inherit !important;
    right: inherit !important;
    top: inherit !important;
    width: inherit !important;
    padding-right: 0px !important;
    text-align: center !important;
    margin-bottom: 40px !important;
    color: rgba(0,0,0,0.5) !important;
    .posts-page-content-body-metadata-comments {
      margin-top:3px;
      line-height: 100%;
      font-size: 14px;
    }
  }
}
@include collection-card-break() {
  .section {
    width: inherit !important;
    .section-content {
      width: inherit !important;
    }
  }
  .posts-page-content-body {
    width: inherit;
  }
  .posts-item-summary {
    white-space: inherit !important;
  }
  .sequences-navigation-top-left, .sequences-navigation-top-right {
    position: static !important;
  }
  .sequences-navigation-title {
    max-width: 60%;
    height: inherit;
    margin-bottom: 10px;
  }
}
.posts-page-content-body-metadata-action {
  display: inline;
  padding:0 5px;
  line-height: 20px;
  @include large {
      display:block;
      padding:0;
  }
}
.posts-page-content-header-title {
  margin: 25px 0;
}

.posts-page-body{
  font-size: $large-font;
  margin-bottom: $hmargin;
}

//////////////////////////////////////////////////////
// Other Elements                                   //
//////////////////////////////////////////////////////

.posts-day{
  margin-bottom: $vmargin * 2;
  max-width:700px;
  margin:auto;
  .posts-load-more{
    border: none;
    padding: 0;
    .posts-load-more-link{
      &:hover{
        text-decoration: none !important;
        background: inherit;
        color: #0C869B;
      }
    }
  }

}
.posts-no-results{
  margin-left:10px;
  margin-top: $vmargin;
}
.posts-edit-form-header{
  @include flex-center;
  justify-content: space-between;
}

.posts-edit-form-admin{
  @include flex-center;
  justify-content: space-between;
  margin-bottom: $vmargin * 2;
}

.posts-search-auto-complete {
  li {
    list-style: none;
  }
  .react-autosuggest__suggestion--highlighted {
      background-color: rgba(0,0,0,0.05);
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
  }
}

.posts-list-edit-item-title {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  line-height: 1.25;
}

.posts-list-edit-item-meta {
  display: inline-block;
  color: rgba(0,0,0,0.5);
  div {
    display: inline-block;
    margin-right: 5px;
  }
}

svg.drag-handle {
    pointer-events: none;
    position: absolute;
    display: block !important;
    color: rgba(0,0,0,0.5);
    margin: auto;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

.posts-list-edit-item-box {
  display: block;
  margin-left: 30px;
  .posts-list-edit-item-remove {
    opacity: 0;
    position: absolute;
    right: 0px;
    cursor: pointer;
    .remove-icon {
    color: rgba(0,0,0,0.3) !important;
    }
  }
  &:hover .posts-list-edit-item-remove {
    opacity: 1;
  }
}

.posts-list-editor-item {
  list-style:none;
  position: relative;
  padding: 5px;
  cursor:pointer;
}
.posts-list-editor .ais-InstantSearch__root {
  margin:20px 0;
}

.sequences-navigation-title {
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    font-variant: small-caps;
    line-height: 24px;
    height: 42.5px;
    color: rgba(0,0,0,0.5);
    margin-top: -10p;

    a {
      text-decoration: none;
    }
}

.sequences-navigation-top {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 25px;
}

.sequences-navigation-top-left, .sequences-navigation-top-right {
  .material-icons {
    color: rgba(0,0,0,0.5) !important;
  }
  &:disabled {
    .material-icons {
      color: rgba(0,0,0,0.2) !important;
    }
  }
}

.posts-page-content-body-link-post {
  font-size: 16px;
}

.posts-page-content-header-title-draft {
  text-transform: uppercase;
  color: #0C869B;
}
.post-category-display-container {
  width:50px;
  padding:17px 15px 15px 15px;
  cursor:pointer;

  &:hover {
    background-color: rgba(0,0,0,.05);
  }
}
.post-category-tooltip {
  line-height:14px;
  padding:5px 0;
}

.posts-item-hide-highlight .material-icons, .posts-item-hide-comments .material-icons {
  font-size:12px !important;
  height:12px;
  transform: rotate(90deg);
  margin-right:5px;
  top:1px;
  color:rgba(0,0,0,.4) !important;
}
.posts-item .recent-comments-list {
  margin:0;
}

.posts-item-recent-comments-title, .posts-item-top-comments-title {
  padding:10px 0;
  font-size:14px;
  font-weight:600;
}
.posts-item-excerpt {
  color:rgba(0,0,0,.35);
}

.posts-stats {
  display: inline;
  @include max-tiny() {
    width:0 !important;
  }
}

.posts-daily {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.moderation-guidelines-box-content {
  text-align: left;
  background-color: rgba(0,0,0,0.03);
  margin-top: 5px;
  padding: 13px 30px 9px 11px;
  white-space: pre-line;
}


.moderation-guidelines-box {
  border: solid 1px rgba(0,0,0,0.2);
  margin-bottom: 10px;

  .moderation-guidelines-header {
    cursor: pointer;
    padding: 8px 14px;
    font-weight: 400;
    &.open {
      border-bottom: solid 1px rgba(0,0,0,0.1);
    }
    .moderation-guidelines-header-expand {
      float: right;
      font-size: 16px !important;
      color: rgba(0,0,0,0.6) !important;
      right: -5px;
      top: 1px;
    }
  }

  .moderation-guidelines-box-assistance {
    color: rgba(0,0,0,0.6) !important;
  }

  .moderation-guidelines-header {
    &:hover {
      background-color: rgba(0,0,0,0.02);
    }
  }

  .moderation-guidelines-box-content {
    padding: 8px 14px 1px 14px !important;
    background-color: transparent;
    margin-top: 0px;
  }

  &.easy-going {
    .moderation-guidelines-header {
      color: rgba(100, 169, 105, 0.9);
    }
  }
  &.norm-enforcing {
    .moderation-guidelines-header {
      color: #2B6A99;
    }
  }
  &.reign-of-terror {
    .moderation-guidelines-header {
      color: rgba(179,90,49,.8) !important;
    }
  }
}

.comment-editor {
  position: relative;
  padding: 5px 8px;
}

.comment-editor-moderation-guidelines {
  position: absolute;
}

.moderation-guidelines-link {
  float: left;
  display: inline-block;
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 5px;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.5) !important;
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.3) !important;
  }
  &.easy-going {
    color: rgba(100, 169, 105, 0.8) !important;
    &:hover {
      color: rgba(100, 169, 105, 0.6) !important;
    }
  }
  &.norm-enforcing {
    color: rgba(43, 106, 153, 0.6) !important;
    &:hover {
      color: rgba(43, 106, 153, 0.4) !important;
    }
  }
  &.reign-of-terror {
    color: rgba(219, 90, 49, 0.6) !important;
    &:hover {
      color: rgba(219, 90, 49, 0.4) !important;
    }
  }
}

.moderation-guidelines-link-expand {
  font-size: 16px !important;
  color: inherit !important;
  vertical-align: middle;
  transition: none !important;
  margin-left: 1px;
}

@include max-small() {
  .comments-new-form {
    .form-submit {
      text-align: left;
    }
  }
  .primary-form-submit-button {
    float: left;
  }
  .moderation-guidelines-link {
    float: none;
  }
}
.posts-list-editor-item-title-link {
  float:right;
  margin-right:10px;
}

.posts-page-event-times {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 600;
}

.posts-page-event-times-start, .posts-page-event-times-end {
  display: inline-block;
}

.posts-page-event-location {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

.posts-page-event-contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 5px;
}

.posts-page-event-links {
  font-weight: 400;
}

.post-highlight img {
  max-width:100%;
}


.recent-discussion-thread-wrapper {
  margin-bottom:30px;

  a:hover, a:visited, a:active {
    text-decoration: none !important;
    color:rgba(0,0,0,.5);
  }
}

.post-highlight {
  margin-top:5px;
  max-width:600px;
  line-height:22px;
}
.recent-discussion-highlight-link-post {
  font-size:13px;
}

.recent-discussion-thread-highlight {
  margin-left:10px;
  margin-right:10px;
  font-size:14px;

  &.no-comments {
    border-bottom:solid 1px rgba(0,0,0,.2);
  }
}
.post-excerpt-read-more {
  cursor:pointer;
  color:rgba(0,0,0,.45) !important;
  margin-left:3px;

  &:hover {
    color:rgba(0,0,0,.3) !important;
  }
}

.recent-discussion-thread-meta {
  cursor:pointer;
  font-size:13px;
  color:rgba(0,0,0,.5);
  line-height:13px;

  .recent-discussion-show-highlight {
    opacity:0;
    color:rgba(0,0,0,.4);
  }
  &:hover {
    .recent-discussion-show-highlight {
      opacity:1;
    }
  }

  .recent-discussion-username,
  .recent-discussion-thread-date,
  .posts-item-unread-dot,
  .posts-item-points,
  .recent-discussion-edit,
  .recent-discussion-thread-readtime {
    margin-right:8px;
  }
}

.recent-discussion-username a {
  // font-weight:600;
  // color:rgba(0,0,0,.55) !important;

  &:hover {
    color:rgba(0,0,0,.3) !important;
  }
}
.posts-item-unread-dot {
  color:#0C869B;
  font-size:30px;
  line-height:0px;
  position: relative;
  top:5.5px;
  margin-left:2px;
  margin-right:5px;
}

.posts-item-unread {
  color:#0C869B;
  margin-right:6px;
}

.posts-page-suggest-curated-button {
  cursor:pointer;

  &:hover {
    color:rgba(0,0,0,.3);
  }

  &.suggested {
    color:rgba(0,0,0,.4);
  }
}

.posts-page-admin-actions-wrapper {
  .posts-page-admin-actions {
    display:none;
  }
  &:hover {
    .posts-page-admin-actions {
      display:block;
    }
    .posts-page-admin-more-options {
      color:rgba(0,0,0,.2);
      @media print { display: none; }
    }
  }
}
.posts-page-admin-action {
  cursor:pointer;
  &:hover {
    color:rgba(0,0,0,.35);
  }
}

.posts-page-content-body-html {
  td, th {
    padding: 10px 16px;
    border: 1px solid $light-border;
  }
}


.posts-daily-wrapper {
  @include min-medium() {
    margin-left:-100px;
  }
}

.posts-daily-title-settings {
  margin-top:10px;
  width:150px;

  @include min-medium() {
    float:right;
  }

  input {
    color: black !important;
  }

  label {
    margin-top:2px;
    width:100% !important;
  }
}

.posts-daily-content-wrapper {
  margin-top:-12px;
  margin-left:15px;
}

.posts-stats-item {
  margin-right:5px;
}
