
//////////////////////////////////////////////////////
// Post List                                        //
//////////////////////////////////////////////////////

.recent-posts-title-component {
  font-style: italic;
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(0,0,0,0.6);

  .new-post-link {
    margin-top: 20px;
    @include max-tiny() {
      margin-top:10px;
      margin-left:10px;
    }
    a {
      color: rgba(0,0,0,0.6);
    }
    a:hover {
      text-decoration: none;
    }
  }
  a:hover {
    color: rgba(0,0,0,0.4) !important;
  }
  @include mui-breakpoint-down-sm {
    br {
      display: none;
    }
    margin-top: 0px;
    display: inline;
  }
  @include max-tiny() {
    margin-top:10px;
  }
}
.posts-list-content {
  & > div > div:first-of-type {
    border-top: none;
  }
  margin-left: 3px;
  margin-top: -7px;
  padding: 0 10px;
  a {
    background-image: none;
    text-shadow: none;
  }
  @include max-tiny() {
    padding:0;
    margin-left: 0px;
  }
}

.posts-views {
  .view-chip {
    display: inline-block;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    color: rgba(0,0,0,0.5);
    padding-left: 3px;
    padding-right: 0px;
    line-height: 25px;
    cursor: pointer;
    text-decoration: none !important;
    position:relative;

    .view-chip-menu-wrapper {
      position:absolute;
      border-radius:2px;
      right:-266px;
      top:-12px;
      display:none;
      text-align: left;
      z-index:1;
      padding-left:5px;

      @include max-small() {
        left:-25px;
        top:20px;
      }
    }
    .view-chip-menu {
      border-radius:2px;
      background-color: rgba(0,0,0,.8);
      box-shadow:1px 1px 4px rgba(0,0,0,.2);
      color:rgba(255,255,255,.75);
      width:260px;
      font-weight:300;
      line-height:18px;
      font-size:12px;
      padding:10px 0;
      z-index:1;
    }
  }
  .view-chip.daily {
    display:block;
  }
  .view-chip:hover .view-chip-menu-wrapper, .view-chip-menu-wrapper:hover {
    display:block;
  }


  @include mui-breakpoint-down-sm {
    .posts-view-button {
      &::after {
        content: "|";
        margin-left: 5px;
        margin-right: 5px;
        font-style: normal;
      }
      float: left;
    }
    .view-chip {
      padding-left: 0px !important;
    }
  }
}

.posts-views-chip-active {
  color: rgba(0, 0, 0, .8) !important;
  text-decoration:underline !important;
}

.view-chip-menu-item {
  font-style:normal;
  z-index:2;
  color:rgba(255,255,255,.75);
  text-decoration: none;
  border-top:solid 1px rgba(255,255,255,.2);
  padding:5px 10px;
  &:hover {
    background:rgba(255,255,255,.2);
  }
  &.includes, &.description {
    border-top:none;
    &:hover {
      background:none;
    }
  }
  &.learn-more {
    border-top:none;
  }
}

.posts-views-chip-inactive:hover {
  color: rgba(0, 0, 0, .3);
}

.posts-load-more, .comments-load-more{
  font-size: 16px;
  color: #0C869B;
}

.posts-load-more, .comments-load-more {
  margin-left: 10px;
  padding-top: 5px;
  @include max-small() {
    margin-top:20px;
  }
  @include max-tiny() {
    margin-left:0;
  }
}

//////////////////////////////////////////////////////
// Post Page                                        //
//////////////////////////////////////////////////////

.posts-page-content-body-metadata {
  position: absolute;
  right: 100%;
  width: 200px;
  padding-right: 30px;
  text-align: right;
  color: rgba(0,0,0,0.5);
  .posts-page-content-body-metadata-date {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    margin-bottom: -5px;
  }
  .posts-page-content-body-metadata-comments {
    font-size: 14px;
  }
  .posts-page-content-body-metadata-actions {
    font-size: 14px;
    @media print { display: none; }
  }
}

@include mui-breakpoint-down-md() {
  .posts-page-content-body-metadata {
    position: inherit !important;
    right: inherit !important;
    top: inherit !important;
    width: inherit !important;
    padding-right: 0px !important;
    text-align: center !important;
    margin-bottom: 40px !important;
    color: rgba(0,0,0,0.5) !important;
    .posts-page-content-body-metadata-comments {
      margin-top:3px;
      line-height: 100%;
      font-size: 14px;
    }
  }
}
@include max-small() {
  .sequences-navigation-title, .posts-page-group-title {
    max-width: 60%;
    height: inherit;
    margin-bottom: 10px;
  }
}
.posts-page-content-body-metadata-action {
  display: inline;
  padding:0 5px;
  line-height: 20px;
  @include mui-breakpoint-up-lg {
      display:block;
      padding:0;
  }
}

//////////////////////////////////////////////////////
// Other Elements                                   //
//////////////////////////////////////////////////////

.posts-no-results{
  margin-left:10px;
  margin-top: $vmargin;
}

.posts-edit-form-admin{
  @include flex-center;
  justify-content: space-between;
  margin-bottom: $vmargin * 2;
}

.posts-search-auto-complete {
  li {
    list-style: none;
  }
  .react-autosuggest__suggestion--highlighted {
      background-color: rgba(0,0,0,0.05);
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
  }
}

.posts-list-edit-item-title {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  line-height: 1.25;
}

.posts-list-edit-item-meta {
  display: inline-block;
  color: rgba(0,0,0,0.5);
  div {
    display: inline-block;
    margin-right: 5px;
  }
}

svg.drag-handle {
    pointer-events: none;
    position: absolute;
    display: block !important;
    color: rgba(0,0,0,0.5);
    margin: auto;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

.posts-list-edit-item-box {
  display: block;
  margin-left: 30px;
  .posts-list-edit-item-remove {
    opacity: 0;
    position: absolute;
    right: 0px;
    cursor: pointer;
    .remove-icon {
    color: rgba(0,0,0,0.3) !important;
    }
  }
  &:hover .posts-list-edit-item-remove {
    opacity: 1;
  }
}

.posts-list-editor-item {
  list-style:none;
  position: relative;
  padding: 5px;
  cursor:pointer;
}
.posts-list-editor .ais-InstantSearch__root {
  margin:20px 0;
}

.sequences-navigation-title, .posts-page-group-title {
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    font-variant: small-caps;
    line-height: 24px;
    color: rgba(0,0,0,0.5);
    margin-top: -10p;
}

.sequences-navigation-top, .posts-page-group-details {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 30px;
    min-height: 48px;
}

.post-category-display-container {
  width:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;

  &:hover {
    background-color: rgba(0,0,0,.05);
  }
}

.post-category-tooltip {
  line-height:14px;
  padding:5px 0;
}

.posts-item .recent-comments-list {
  margin:0;
}

.posts-daily {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.moderation-guidelines-box-content {
  text-align: left;
  background-color: rgba(0,0,0,0.03);
  margin-top: 5px;
  padding: 13px 30px 9px 11px;
  white-space: pre-line;
}

.moderation-guidelines-box {
  border: solid 1px rgba(0,0,0,0.2);
  margin-bottom: 10px;

  .moderation-guidelines-header {
    cursor: pointer;
    padding: 8px 14px;
    font-weight: 400;
    &.open {
      border-bottom: solid 1px rgba(0,0,0,0.1);
    }
    .moderation-guidelines-header-expand {
      position: relative;
      float: right;
      font-size: 16px !important;
      color: rgba(0,0,0,0.6) !important;
      right: -5px;
      top: 1px;
    }
  }

  .moderation-guidelines-box-assistance {
    color: rgba(0,0,0,0.6) !important;
  }

  .moderation-guidelines-header {
    &:hover {
      background-color: rgba(0,0,0,0.02);
    }
  }

  .moderation-guidelines-box-content {
    padding: 8px 14px 1px 14px !important;
    background-color: transparent;
    margin-top: 0px;
  }

  &.easy-going {
    .moderation-guidelines-header {
      color: rgba(100, 169, 105, 0.9);
    }
  }
  &.norm-enforcing {
    .moderation-guidelines-header {
      color: #2B6A99;
    }
  }
  &.reign-of-terror {
    .moderation-guidelines-header {
      color: rgba(179,90,49,.8) !important;
    }
  }
}

.moderation-guidelines-link {
  float: left;
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 5px;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.5) !important;
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.3) !important;
  }
  &.easy-going {
    color: rgba(100, 169, 105, 0.8) !important;
    &:hover {
      color: rgba(100, 169, 105, 0.6) !important;
    }
  }
  &.norm-enforcing {
    color: rgba(43, 106, 153, 0.6) !important;
    &:hover {
      color: rgba(43, 106, 153, 0.4) !important;
    }
  }
  &.reign-of-terror {
    color: rgba(219, 90, 49, 0.6) !important;
    &:hover {
      color: rgba(219, 90, 49, 0.4) !important;
    }
  }
}

.moderation-guidelines-link-expand {
  font-size: 16px !important;
  color: inherit !important;
  vertical-align: middle;
  transition: none !important;
  margin-left: 1px;
}

@include max-small() {
  .primary-form-submit-button {
    float: left;
  }
  .moderation-guidelines-link {
    float: none;
  }
}


.post-highlight img {
  max-width:100%;
}

.post-highlight {
  margin-top:5px;
  max-width:600px;
  line-height:22px;
  margin-bottom:16px;
}

.recent-discussion-thread-meta {
  cursor:pointer;

  .recent-discussion-show-highlight {
    opacity:0;
  }
  &:hover {
    .recent-discussion-show-highlight {
      opacity:1;
    }
  }
}
