

//////////////////////////////////////////////////////
// Other Elements                                   //
//////////////////////////////////////////////////////

svg.drag-handle {
    pointer-events: none;
    position: absolute;
    display: block !important;
    color: rgba(0,0,0,0.5);
    margin: auto;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

.posts-list-editor-item {
  list-style:none;
  position: relative;
  padding: 5px;
  cursor:pointer;
}
.posts-list-editor .ais-InstantSearch__root {
  margin:20px 0;
}

@include max-small() {
  .primary-form-submit-button {
    float: left;
  }
}
