
.input-bannerImageId .image-upload-button {
  position:absolute !important;
  left:15px;
  top:15px;
  @include mui-breakpoint-down-sm {
    left:15px;
    top:40px;
  }
  @include max-tiny() {
    left:12px;
    top:15px;
  }
}
.sequences-edit-form, .sequences-new-form, .input-bannerImageId {
  position: absolute;
  top:0;
  left:0;
  width:100%;

  .input-title .form-input-errors {
    background-color:rgba(0,0,0,0.25);;
    width: 100%;
    text-align:center;
    margin:0!important;

    li {
      position:relative;
      left:-230px;
      top:3px;
      z-index: 3;
      @include mui-breakpoint-down-sm {
        left:0;
      }
    }
  }

  .editor-form-component {
    max-width: 650px;
    margin: auto;
    position: relative;
    padding: 10px;
  }

  .form-input-errors {
    font-size:1em;
    z-index: 2;
    text-align: left;
  }

  .document-edit, .document-new {
    position:absolute;
    width:100%;
    padding-bottom:50px;
    overflow: hidden;

    .form-input {
      max-width: 640px;
      position: relative !important;
      left:45px;
      margin:auto;
      @include mui-breakpoint-down-sm {
        left:0;
        padding:0 10px;
      }
    }
    .form-input label {
      position: relative;
      top:5px;
    }
    .form-input.input-title, &.input-bannerImageId {
      max-width:100%;
      width:100%;
      margin:0;
      left:0;
      padding:0;
    }
    > form > .form-errors {
      display:none;
    }
    .form-input.form-component-checkbox > .form-group > label {
      display:none;
    }
    .editor.content-body {
      margin-bottom: 0em;
    }
    .form-input.input-bannerImageId {
      margin-top:65px;
      position: absolute !important;
      left:0;
      max-width:100%;

      @include mui-breakpoint-down-sm {
        margin-top:40px;
        padding:0;
      }
      .form-input-errors {
        position:absolute;
        top:45px;
        left:7px;
        text-align: left;
      }
    }
  }

  .form-submit {
    width:200px;
    margin:0 auto;
  }
}
