
.sequences-list-editor-item {
  list-style:none;
  position: relative;
  padding: 5px;
}

.input-bannerImageId .image-upload-button {
  position:absolute !important;
  left:15px;
  top:15px;
  @include mui-breakpoint-down-sm {
    left:15px;
    top:40px;
  }
  @include max-tiny() {
    left:12px;
    top:15px;
  }
}
.sequences-edit-form, .sequences-new-form, .input-bannerImageId {
  position: absolute;
  top:0;
  left:0;
  width:100%;

  .input-title .form-input-errors {
    background-color:rgba(0,0,0,0.25);;
    width: 100%;
    text-align:center;
    margin:0!important;

    li {
      position:relative;
      left:-230px;
      top:3px;
      z-index: 3;
      @include mui-breakpoint-down-sm {
        left:0;
      }
    }
  }

  .editor-form-component {
    max-width: 650px;
    margin: auto;
    position: relative;
    padding: 10px;
  }

  .form-input-errors {
    font-size:1em;
    z-index: 2;
    text-align: left;
  }

  .document-edit, .document-new {
    position:absolute;
    width:100%;
    padding-bottom:50px;
    overflow: hidden;

    .form-input {
      max-width: 640px;
      position: relative !important;
      left:45px;
      margin:auto;
      @include mui-breakpoint-down-sm {
        left:0;
        padding:0 10px;
      }
    }
    .form-input label {
      position: relative;
      top:5px;
    }
    .form-input.input-title, &.input-bannerImageId {
      max-width:100%;
      width:100%;
      margin:0;
      left:0;
      padding:0;
    }
    > form > .form-errors {
      display:none;
    }
    .form-input.form-component-checkbox > .form-group > label {
      display:none;
    }
    .editor.content-body {
      margin-bottom: 0em;
    }
    .form-input.input-bannerImageId {
      margin-top:65px;
      position: absolute !important;
      left:0;
      max-width:100%;

      @include mui-breakpoint-down-sm {
        margin-top:40px;
        padding:0;
      }
      .form-input-errors {
        position:absolute;
        top:45px;
        left:7px;
        text-align: left;
      }
    }
  }

  .form-submit {
    width:200px;
    margin:0 auto;
  }
}

.sequences-editor-title-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 1;
  width:0;
}

.sequences-title, .sequences-editor-title {
  position: relative;
  line-height: 1.1;
  left: -275px;
  width: 650px;
  font-size: 36px;
  color: white;
  font-variant: small-caps;
  z-index: 2;
}

.sequences-editor-title {
  height:1em;
  resize:none;
  background-color: transparent;
  box-shadow: none;
  overflow:hidden;
  &::placeholder {
    color:rgba(255,255,255,.5);
  }
}
@include mui-breakpoint-down-sm {
  .sequences-editor-title-wrapper {
    left:0;
    width:100%;
  }
  .sequences-title, .sequences-editor-title {
    left: 0;
    width:100%;
    text-align:center;
  }
}

.chapters-edit-form {
    width: 700px;
    margin-left: auto;
    margin-right: 75px;
}

.chapters-edit-form, .chapters-new-form {
  padding:1em;
  max-width:695px;
  margin-left: auto;
  margin-right: 90px;
  padding:15px;
  border-radius:2px;
  margin-bottom: 2em;

  form {
    clear:both;
    overflow:auto;
  }
  .form-submit {
    float:right;
  }
  h3 {
    font-size:2em;
    margin-bottom:1em;
  }
  label.control-label {
    display:none;
  }
  .col-sm-9 {
    padding:0;
  }
  .input-title input {
    font-size:2em;
  }
}
.chapters-new-form {
  border:solid 1px rgba(0,0,0,.2);
}
