/*
  This is a slightly modified version of Tufte CSS https://edwardtufte.github.io/tufte-css/
  Github repo content copied on Septemer 3rd 2017.
*/

@charset "UTF-8";

html { font-size: 13px; }

body {
      //  width: 87.5%;
      //  margin-left: auto;
      //  margin-right: auto;
      //  padding-left: 12.5%;
       font-family: "warnock-pro", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       font-weight: 400;
       background-color: #ffffff;
       color: rgba(0,0,0,0.93);
       font-variant-numeric: lining-nums;
      //  max-width: 1400px;
       counter-reset: sidenote-counter; }

.content-body {

  font-size: 1.4rem;

  .ory-cell-leaf > div {
    h1,h2,h3,h4,h5 {
      &:first-child{
        margin-top: 0px;
      }
    }
  }

  p:first-of-type {
    margin-top: 0px !important;
  }

  li > p:last-child {
    margin-bottom: 0px !important;
  }

  li > p:first-child {
    margin-top: 0px !important;
  }
  /* Tufte CSS styles */

  h1 { font-weight: 400;
       color: rgba(0,0,0,0.93);
       margin-top: 4rem;
       margin-bottom: 1.5rem;
       font-size: 3.2rem;
       line-height: 1;

       @include very-small-break() {
         font-size: 2.35rem;
       }
     }

  h2 { color: rgba(0,0,0,0.93);
       font-weight: 400;
       margin-top: 4rem;
       margin-bottom: 1.4rem;
       font-size: 2.2rem;
       line-height: 1;
       @include very-small-break() {
         font-size: 1.9rem;
       }
     }

  h3 { color: rgba(0,0,0,0.93);
       font-weight: 400;
       font-size: 1.7rem;
       margin-top: 2rem;
       margin-bottom: 1.4rem;
       line-height: 1;
     }

   h4 { color: rgba(0,0,0,0.93);
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 1.4rem;
        line-height: 1;
    }

    h5 { color: rgba(0,0,0,0.93);
         font-weight: 400;
         font-size: 1.4rem;
         margin-top: 2rem;
         margin-bottom: 1.4rem;
         font-style: italic;
         line-height: 1;
     }

  // hr { display: block;
  //      height: 1px;
  //     //  width: 55%;
  //      border: 0;
  //      border-top: 1px solid #ccc;
  //      margin: 1em 0;
  //      padding: 0; }

  p.subtitle { font-style: italic;
               margin-top: 1rem;
               margin-bottom: 1rem;
               font-size: 1.8rem;
               display: block;
               line-height: 1; }

  .numeral { font-family: "warnock-pro"; }

  .danger { color: red; }

  article { position: relative;
            padding: 5rem 0rem; }

  section { padding-top: 1rem;
            padding-bottom: 1rem; }

  p, ol, ul, .public-DraftEditor-content > div > div > .public-DraftStyleDefault-block, blockquote > .public-DraftStyleDefault-block, blockquote { font-size: 1.4rem;
              line-height: 2rem; }

  p { margin-top: 1.4rem;
      margin-bottom: 1.4rem;
      padding-right: 0;
      vertical-align: baseline;}

  a:hover {
      text-decoration: none;
  }

  /* Chapter Epigraphs */
  div.epigraph { margin: 5em 0; }

  div.epigraph > blockquote { margin-top: 3em;
                              margin-bottom: 3em; }

  div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

  div.epigraph > blockquote > footer { font-style: normal; }

  div.epigraph > blockquote > footer > cite { font-style: italic; }
  /* end chapter epigraphs styles */

  blockquote { font-size: 1.3rem;
               line-height: 1.8rem;
               padding: inherit;
               padding: .5rem 40px .5rem 20px;
               margin:0;
               border-left: solid 3px #ccc;
             }

  blockquote p { /* width: 55%; */
                 margin-right: 40px;
                 font-size: 1.3rem;
                 line-height: 1.8rem;
                 margin-bottom: 0.7rem !important; }

  blockquote footer { width: 55%;
                      font-size: 1.1rem;
                      text-align: right; }

  section>ol, section>ul { width: 45%;
                           -webkit-padding-start: 5%;
                           -webkit-padding-end: 5%; }

  li { padding: 0.25rem 0; }

  figure { padding: 0;
           border: 0;
           font-size: 100%;
           font: inherit;
           vertical-align: baseline;
           -webkit-margin-start: 0;
           -webkit-margin-end: 0;
           margin: 1em 0 1em 0; }

  figcaption { float: right;
               clear: right;
               margin-top: 0;
               margin-bottom: 0;
               font-size: 1.1rem;
               line-height: 1.6;
               vertical-align: baseline;
               position: relative;
               max-width: 40%; }

  figure.fullwidth figcaption { margin-right: 24%; }

  /* Sidenotes, margin notes, figures, captions */
  img { max-width: 100%; }

  .sidenote, .marginnote { float: right;
                           clear: right;
                           margin-right: -60%;
                           width: 50%;
                           margin-top: 0;
                           margin-bottom: 0;
                           font-size: 1.1rem;
                           line-height: 1.3;
                           vertical-align: baseline;
                           position: relative; }

  .sidenote-number { counter-increment: sidenote-counter; }

  .sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                             font-family: "warnock-pro";
                                             position: relative;
                                             vertical-align: baseline; }

  .sidenote-number:after { content: counter(sidenote-counter);
                           font-size: 1rem;
                           top: -0.5rem;
                           left: 0.1rem; }

  .sidenote:before { content: counter(sidenote-counter) " ";
                     top: -0.5rem; }

  blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                                 min-width: 59%;
                                                 text-align: left; }

  // p, footer, table { width: 55%; }

  div.fullwidth, table.fullwidth { width: 100%; }

  div.table-wrapper { overflow-x: auto;
                      font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

  .sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
          letter-spacing: .03em; }

  code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 1.0rem;
         line-height: 1.42; }

  .sans > code { font-size: 1.2rem; }

  h1 > code, h2 > code, h3 > code { font-size: 0.80em; }

  .marginnote > code, .sidenote > code { font-size: 1rem; }

  pre.code { font-size: 0.9rem;
             width: 52.5%;
             margin-left: 2.5%;
             overflow-x: auto; }

  pre.code.fullwidth { width: 90%; }

  .fullwidth { max-width: 90%;
               clear:both; }

  span.newthought { font-variant: small-caps;
                    font-size: 1.2em; }

  input.margin-toggle { display: none; }

  label.sidenote-number { display: inline; }

  label.margin-toggle:not(.sidenote-number) { display: none; }

  .iframe-wrapper { position: relative;
                    padding-bottom: 56.25%; /* 16:9 */
                    padding-top: 25px;
                    height: 0; }

  .iframe-wrapper iframe { position: absolute;
                           top: 0;
                           left: 0;
                           width: 100%;
                           height: 100%; }

  @media (max-width: 760px) { body { width: 84%;
                                     padding-left: 8%;
                                     padding-right: 8%; }
                              p, footer { width: 100%; }
                              pre.code { width: 97%; }
                              section > ol { width: 90%; }
                              section > ul { width: 90%; }
                              figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                                                        max-width: none; }
                              blockquote { margin-left: 1.5em;
                                           margin-right: 0em; }
                              blockquote p, blockquote footer { width: 100%; }
                              label.margin-toggle:not(.sidenote-number) { display: inline; }
                              .sidenote, .marginnote { display: none; }
                              .margin-toggle:checked + .sidenote,
                              .margin-toggle:checked + .marginnote { display: block;
                                                                     float: left;
                                                                     left: 1rem;
                                                                     clear: both;
                                                                     width: 95%;
                                                                     margin: 1rem 2.5%;
                                                                     vertical-align: baseline;
                                                                     position: relative; }
                              label { cursor: pointer; }
                              div.table-wrapper, table { width: 85%; }
                              img { width: 100%; }
                              .content-body { margin: 0 5px }
  }
}
