@mixin text-underline-crop($background) {
    text-shadow:  .03em 0 $background,
                  -.03em 0 $background,
                  0 .03em $background,
                  0 -.03em $background,
                  .06em 0 $background,
                  -.06em 0 $background,
                  .09em 0 $background,
                  -.09em 0 $background,
                  .12em 0 $background,
                  -.12em 0 $background,
                  .15em 0 $background,
                  -.15em 0 $background;
}

@mixin text-background($color-bg, $color-text) {
    background-image: linear-gradient(to right, $color-text 75%, transparent 75%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position:  0% 74%;
}

@mixin text-selection($selection) {
    &::selection {
        @include text-underline-crop($selection);

        background: $selection;
    }

    &::-moz-selection {
        @include text-underline-crop($selection);

        background: $selection;
    }
}



@mixin link-underline($background, $text, $selection, $underline){
    // @include text-underline-crop($background);
    // @include text-background($background, $underline);
    // @include text-selection($selection);

    color: $post-link-green;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: $post-link-green;
    text-decoration-style: solid;
    -webkit-text-decoration-skip: ink;
    -webkit-text-decoration-color: $underline;
    -webkit-text-decoration-style: solid;
    -moz-webkit-text-decoration-skip: ink;
    -moz-webkit-text-decoration-color: $underline;
    -moz-webkit-text-decoration-style: dashed;

    *,
    *:after,
    &:after,
    *:before,
    &:before {
        text-shadow: none;
    }
    &:hover {
      color: $post-link-hover !important;
      text-decoration-color: $post-link-hover !important;
    }
    &:visited {
        color: $post-link-green !important;
    }
}
