.accounts-ui{
  .field{
    margin-bottom: $vmargin/2;
  }
}

.users-menu{
  .avatar{
    margin-right: 5px;
  }
}

.avatar-initials{
  background: $light-grey;
  color: $dark-grey;
  text-align: center;
  border-radius: 100%;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    display: block;
    line-height: 1;
  }
}

.users-newsletter-settings {
  @include flex-center;
  margin-top: $vmargin;
}

.log-in-message{
  h3{
    text-align: center;
  }
}

@include very-small-break() {
  .posts-item {
    margin-top: 20px !important;
  }
  .posts-item-vote {
    bottom: -3px !important;
  }
}

.users-profile {
  margin-left: auto;
  margin-right: 200px;
  @include max-medium() {
    margin:0;
  }
  .page-title {
    margin-bottom: 10px;
    display: inline;
  }
}

.users-profile-bio {
  margin:0;
  padding-bottom:10px;
  padding-left: 20px;

  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.users-profile-recent-posts {
  .search-form {
    width: 120px;
    margin-left: auto;
    margin-bottom: 15px;
    @include very-small-break() {
      width:auto;
    }
  }
}

.users-profile-header {
  h2:before {
    display:none;
  }

  .section-content {
    padding-top:6px;
  }
}


.users-profile-header-meta {
  & > div {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
  }
}

.users-profile-actions {
  div {
    margin-left:20px;
  }
  & > div {
    font-size: 18px;
    font-style: italic;
  }
}

.users-edit-form {
  width:60%;
  margin:auto;
  margin-bottom:100px;
  @include small {
    width:100%;
  }

  .change-password-link {
    border:solid 1px $light-grey;
    border-radius:3px;
    padding:7px;
    text-align:center;
    width:40%;
    margin-bottom:35px;
    text-transform: uppercase;
    @include small {
      width:100%;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: $lighter-grey;
      cursor: pointer;
    }
  }
  .form-input.input-hideIntercom {
    margin-left:5px;
    .control-label.col-sm-3 {
      display:none;
    }
  }
  .form-group.email {
    &:before {
      content: ' ';
      clear: right;
      display: block;
    }
    width:100%;
    float:right;
  }
  input.form-control {
    padding-left:2px;
  }

  .form-input.input-bio .control-label.col-sm-3 {
    position:relative;
    top:3px;
    text-transform: uppercase;
  }

  .form-input.input-notifications_posts,
  .form-input.input-auto_subscribe_to_my_posts,
  .form-input.input-auto_subscribe_to_my_comments {
    margin-left:5px;
    .control-label.col-sm-3 {
      display:none;
    }
  }
  .form-section-heading {
    padding:1em 0;
  }
}

.users-profile .posts-no-results {
  font-size:18px;
  font-style:italic;
}

.user-profile-posts-title {
  padding-left:1em;
  padding-bottom:1.5em;
  font-size:18px;
  font-style:italic;

  span.wing {
    width:100px;
    border-bottom:solid 1px $light-grey;
  }
}
