$light-grey: #ddd;

$red: #E04E4B;

$light-border: $light-grey;

$hmargin: 10px;
$vmargin: 15px;

$border: 1px solid $light-border;

@mixin flex-center{
  display: flex;
  align-items: center;
}

$comments-font: Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
