// Top-level SCSS. This imports the rest of the SCSS files in
// packages/lesswrong/styles, and is included on every page on the site. We are
// generally moving away from SCSS and towards JSS; rather than adding things
// here, add them as JSS. If class-names come from an outside library, use
// JSS descendent selectors on a component which encloses the usages of that
// library.

@import "breakpoints";
@import "variables";
@import "editor";
@import "forms";
@import "sequences";
@import "admin";

// General CSS modifications

h3 {
  margin-top: 0px;
}


// Deactivate intercom on smaller devices

#intercom-container, .intercom-lightweight-app {
  @include mui-breakpoint-down-sm {
    display: none;
  }
}


div#mocha {
  background:white;
  border-right: 2px solid black;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  resize: horizontal;
  top: 0;
  width: 20px;
  z-index: 10000000;
}

// Maximum width for LaTeX blocks, to prevent causing horizontal scroll or
// otherwise breaking the layout. We don't do this for inline styles, because
// it messes up vertical alignment.
.mjx-chtml.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden;

  // !important because the MathJax stylesheet (which gets embedded into posts)
  // has an ill-advised max-width:none in it.
  max-width: 100% !important;
}
