@import "clear-style";
@import "breakpoints";
@import "colors";
@import "variables";
@import "spinner";
@import "global";
@import "layout";
@import "accounts";
@import "categories";
@import "cheatsheet";
@import "comments";
@import "editor";
@import "header";
@import "newsletter";
@import "other";
@import "forms";
@import "posts";
@import "users";
@import "collections";
@import "sequences";
@import "stats";
@import "localgroups";
@import "admin";
@import "sunshine-sidebar";
@import "alignment-forum";

.new-post-button{
  margin-bottom: 15px;
}

.avatar{
  height: 20px;
  width: 20px;
  display: block;
  a, span, img{
    display: block;
    border-radius: 100%;
    height: 100%;
    widows: 100%;
  }
}

.sr-only{
  display: none;
}

.upvoted .upvote{
  opacity: 0.3;
}


/*

Old custom.scss file TODO: Refactor this properly into the main code

*/

/*

CSS File with general modifications. Usually stuff gets added here first and
then moved to more specific files as it becomes necessary.


*/

// CSS modifications for comment threads

.header-taglines {
  font-size: 16px;
  margin-top: 28px;
  float: left;
  margin-left: 15px;
}

.posts-comments-thread-linked-comment{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  .comment-wrapper{
    margin-top: 15px;
    min-height: 30px;
  }
  .posts-comments-thread-linked-comment-title{
    display: inline;
  }
  .comment-inline {
    .comment-inline-text{
      font-weight: 300;
    }
    .well{
      padding-top: 9px;
      padding-bottom: 9px;
      .comment-inline-description{
        margin-bottom: 5px;
        font-weight: 400;
      }
    }
    font-size: 14px;
    padding: 10px;
  }
}


// Recent Comments Page CSS Modifications

.recent-comments-page{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// CSS modifications for adjusting font in various contexts

.comments-item {
  line-height: 1.25;
  color: rgba(0,0,0,0.87);
  .comment-context-link{
    font-weight: 300;
    font-size: 13px;
    color: rgba(0,0,0,0.5);
  }
}

// CSS Modifications for Navbar buttons and styles

.post-new-button{
  a{
    color: $ea-blue !important;
  }
}

.users-menu-contents a {
  // When the user menu is first opened, it incorrectly detects the first menu
  // item as hovered, but doesn't activate it like it would with a real hover.
  // With Bootstrap's default hover effect for <a> links, this would look like
  // it's grayed out.
  opacity: 1 !important;
}

// CSS modifications for notifications navbar
.navbar-nav{
  .notification-nav{
    .dropdown-menu{
      white-space: normal;
      min-width: 250px;
      padding: 16px;
      li {
        a {
          white-space: normal;
        }
      }
      .viewed {
        background-color: $lightest-grey;
      }
      .unviewed {
        background-color: $white;
      }
    }
  }
}


// CSS modifications for notifications page
.nav-notifications {
  background-color: transparent;
  margin-right: 20px;
}

.notification-filters{
  margin-bottom: 20px;
}

// CSS modifications for comments

.comments-item-meta{
  font-size: $small-font;

  .comment-edit{
    margin-right: $hmargin;
  }
}

// CSS modifications for voting


.upvoted{
  .upvote-button{
    color: $ea-blue !important;
  }
}

.downvoted{
  .downvote-button{
    color: $ea-blue !important;
  }
}

.messageEditor{
  font-size: 16px !important;
  border: #d1d1d1;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.87);
}

// CSS modifications for posts

.posts-item-title{
  margin-top: 0px;
}

.posts-actions{
  margin-right: 10px;
}

// CSS Modifications for RSS Feed integration


.displayFullContentTag{
  margin-left: 10px;
  color: $dark-grey;
  float: right;
}

.ownedByUserTag{
  margin-left: 10px;
  color: $dark-grey;
  float:right;
}

// General CSS modifications

h1{
  margin-top: 0px;
}

h2{
  margin-top: 0px;
}

h3{
  margin-top: 0px;
}


// Deactivate intercom on smaller devices


@include section-header-break {
  #intercom-container {
    display: none;
  }
}

div#mocha {
  background: white;
  border-right: 2px solid black;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  resize: horizontal;
  top: 0;
  width: 20px;
  z-index: 10000000;
}

.events-near-you {
  @include frontpage-subtitle-link()
}

.recommended-reading-library {
  @include frontpage-subtitle-link()
}
