@import "clear-style";
@import "breakpoints";
@import "colors";
@import "variables";
@import "spinner";
@import "global";
@import "layout";
@import "accounts";
@import "comments";
@import "editor";
@import "header";
@import "other";
@import "forms";
@import "posts";
@import "users";
@import "collections";
@import "sequences";
@import "localgroups";
@import "admin";
@import "sunshine-sidebar";
@import "alignment-forum";
@import "modal";

@font-face { font-family: "Valkyrie";
  src: url("https://res.cloudinary.com/dq3pms5lt/raw/upload/v1543532699/Valkyrie%20Font/Tabular%20Numerals/WOFF/valkyrie_t4_tab_regular.woff");
  font-weight: normal;
  font-style: normal; }

@font-face { font-family: "Valkyrie";
  src: url("https://res.cloudinary.com/dq3pms5lt/raw/upload/v1543532699/Valkyrie%20Font/Tabular%20Numerals/WOFF/valkyrie_t4_tab_italic.woff");
  font-weight: normal;
  font-style: italic; }

@font-face { font-family: "Valkyrie";
  src: url("https://res.cloudinary.com/dq3pms5lt/raw/upload/v1543532699/Valkyrie%20Font/Tabular%20Numerals/WOFF/valkyrie_t4_tab_bold_italic.woff");
  font-weight: bold;
  font-style: italic; }

@font-face { font-family: "Valkyrie";
  src: url("https://res.cloudinary.com/dq3pms5lt/raw/upload/v1543532699/Valkyrie%20Font/Tabular%20Numerals/WOFF/valkyrie_t4_tab_bold.woff");
  font-weight: bold;
  font-style: normal; }



@font-face { font-family: "et-book";
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284541/et-book-roman-line-figures_tqyky9.eot");
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284541/et-book-roman-line-figures_tqyky9.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284541/et-book-roman-line-figures_qwnmtg.woff") format("woff"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284542/et-book-bold-line-figures_nos3pc.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "et-book";
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-display-italic-old-style-figures_q55sac.eot");
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-display-italic-old-style-figures_q55sac.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-display-italic-old-style-figures_l5dmqn.woff") format("woff"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-display-italic-old-style-figures_nzn4hq.ttf") format("truetype");
             font-weight: normal;
             font-style: italic; }

@font-face { font-family: "et-book";
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284542/et-book-bold-line-figures_w9l1sy.eot");
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284542/et-book-bold-line-figures_w9l1sy.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284542/et-book-bold-line-figures_lqvbwh.woff") format("woff"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284542/et-book-bold-line-figures_nos3pc.ttf") format("truetype");
             font-weight: 700;
             font-style: normal; }

@font-face { font-family: "et-book";
            src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-semi-bold-old-style-figures_ot2s9o.eot");
            src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-semi-bold-old-style-figures_ot2s9o.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284544/et-book-semi-bold-old-style-figures_fkjal5.woff") format("woff"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284543/et-book-semi-bold-old-style-figures_aimlbn.ttf") format("truetype");
            font-weight: 600;
            font-style: normal; }

@font-face { font-family: "et-book-roman-old-style";
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284546/et-book-roman-old-style-figures_zu4udt.eot");
             src: url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284546/et-book-roman-old-style-figures_zu4udt.eot?#iefix") format("embedded-opentype"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284547/et-book-roman-old-style-figures_ztojd0.woff") format("woff"), url("https://res.cloudinary.com/lesswrong-2-0/raw/upload/v1539284546/et-book-roman-old-style-figures_yoocwj.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }


.new-post-button{
  margin-bottom: 15px;
}

.avatar{
  height: 20px;
  width: 20px;
  display: block;
  a, span, img{
    display: block;
    border-radius: 100%;
    height: 100%;
    widows: 100%;
  }
}

.sr-only{
  display: none;
}

.upvoted .upvote{
  opacity: 0.3;
}


/*

Old custom.scss file TODO: Refactor this properly into the main code

*/

/*

CSS File with general modifications. Usually stuff gets added here first and
then moved to more specific files as it becomes necessary.


*/


// Recent Comments Page CSS Modifications

.recent-comments-page{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// CSS modifications for adjusting font in various contexts

.comments-item {
  line-height: 1.25;
  color: rgba(0,0,0,0.87);
  .comment-context-link{
    font-weight: 300;
    font-size: 13px;
    color: rgba(0,0,0,0.5);
  }
}

// CSS Modifications for Navbar buttons and styles

.users-menu-contents a {
  // When the user menu is first opened, it incorrectly detects the first menu
  // item as hovered, but doesn't activate it like it would with a real hover.
  // With Bootstrap's default hover effect for <a> links, this would look like
  // it's grayed out.
  opacity: 1 !important;
}

// CSS modifications for comments

.comments-item-meta{
  font-size: $small-font;

  .comment-edit{
    margin-right: $hmargin;
  }
}

// CSS Modifications for RSS Feed integration


.displayFullContentTag{
  margin-left: 10px;
  color: $dark-grey;
  float: right;
}

.ownedByUserTag{
  margin-left: 10px;
  color: $dark-grey;
  float:right;
}

// General CSS modifications

h1{
  margin-top: 0px;
}

h2{
  margin-top: 0px;
}

h3{
  margin-top: 0px;
}


// Deactivate intercom on smaller devices

#intercom-container {
  @include mui-breakpoint-down-sm {
    display: none;
  }
}


div#mocha {
  background: white;
  border-right: 2px solid black;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  resize: horizontal;
  top: 0;
  width: 20px;
  z-index: 10000000;
}

// Maximum width for LaTeX, to prevent causing horizontal scroll or otherwise
// breaking the layout.
.mjx-chtml {
  overflow-x: auto;
  overflow-y: hidden;

  // !important because the MathJax stylesheet (which gets embedded into posts)
  // has an ill-advised max-width:none in it.
  max-width: 100% !important;
}
