// Top-level SCSS. This imports the rest of the SCSS files in
// packages/lesswrong/styles, and is included on every page on the site. We are
// generally moving away from SCSS and towards JSS; rather than adding things
// here, add them as JSS. If class-names come from an outside library, use
// JSS descendent selectors on a component which encloses the usages of that
// library.

@import "clear-style";
@import "breakpoints";
@import "variables";
@import "spinner";
@import "global";
@import "layout";
@import "comments";
@import "editor";
@import "forms";
@import "posts";
@import "users";
@import "collections";
@import "sequences";
@import "localgroups";
@import "admin";
@import "alignment-forum";

// Recent Comments Page CSS Modifications

.recent-comments-page{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// CSS modifications for adjusting font in various contexts

.comments-item {
  line-height: 1.25;
  color: rgba(0,0,0,0.87);
}

// CSS Modifications for Navbar buttons and styles

.users-menu-contents a {
  // When the user menu is first opened, it incorrectly detects the first menu
  // item as hovered, but doesn't activate it like it would with a real hover.
  // With Bootstrap's default hover effect for <a> links, this would look like
  // it's grayed out.
  opacity: 1 !important;
}

// CSS Modifications for RSS Feed integration


.displayFullContentTag{
  margin-left: 10px;
  color: $dark-grey;
  float: right;
}

.ownedByUserTag{
  margin-left: 10px;
  color: $dark-grey;
  float:right;
}

// General CSS modifications

h3 {
  margin-top: 0px;
}


// Deactivate intercom on smaller devices

#intercom-container {
  @include mui-breakpoint-down-sm {
    display: none;
  }
}


div#mocha {
  background: white;
  border-right: 2px solid black;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  resize: horizontal;
  top: 0;
  width: 20px;
  z-index: 10000000;
}

// Maximum width for LaTeX blocks, to prevent causing horizontal scroll or
// otherwise breaking the layout. We don't do this for inline styles, because
// it messes up vertical alignment.
.mjx-chtml.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden;

  // !important because the MathJax stylesheet (which gets embedded into posts)
  // has an ill-advised max-width:none in it.
  max-width: 100% !important;
}
