/* TODO: This is maybe used by SmartForm generating classnames? */
.form-component-AlignmentCheckbox {
  margin-bottom:0 !important;
}

.alignment-checkbox-wrapper {
  clear:both;
  overflow: hidden;
  padding:2px 12px;

  .checkbox {
    float:left;
  }
  .alignment-checkbox-warning {
    float:left;
    font-family: $comments-font;
    margin-top:12px;
    padding-left:12px;
    font-weight:400;
    color: $alignment-text;
  }
}
