// TODO: Figure out how this interacts with other global styles and load order,
// and consolidate.

html {
  font-size: 13px;
}

h1, h2, h3, h4 {
  font-weight:500;
}

textarea, textarea:focus, input, input:focus {
  border:none;
  outline:none;
}

button {
  border:none;
  box-shadow:none;
  cursor:pointer;
}

figure {
  margin: 1em 0;
}
