select.form-control{
  height: 38px;
}


// TODO: This looks like remnants of styling from a library we may no longer be
// using. Confirm that there was once a ReactTags library and isn't anymore.
// Example Styles for React Tags
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
  // height: 31px;
  // margin: 0;
  // font-size: 12px;
  // width: 100%;
  // border: 1px solid #eee;

  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

/* Styles for selected tags */
div.ReactTags__selected {
  float: left;
  display: flex;
  align-items: center;
  margin-left: -5px;
}
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  // cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 10;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
  padding: 0;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
  background: #b7cfe0;
  cursor: pointer;
}

div.ReactTags__suggestions mark{
  padding: 0;
}

//////////////////////////////////////////////////////////////////////////////
// Styles for vulcan-forms
.form-section{
  .form-section-heading{
    border-bottom: 1px solid $light-border;
    padding-bottom: $vmargin;
    margin-bottom: $vmargin;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.control-label{
  strong{
    font-weight: normal;
  }
}

.form-input {
  margin:16px 0;
  position: relative;
}

.form-group {
  margin-bottom: 0;
}

.form-component-EditTitle {
  margin:0;
}

.form-group.row {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.form-control-limit{
  position: absolute;
  background: white;
  padding: 5px;
  bottom: 5px;
  right: 5px;
  color: $light-grey;
  font-size: 80%;
  &.danger{
    color: #EF1642;
  }
}

.form-section-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $light-grey;
}

.form-section-heading-title{
  margin-bottom:5px;
  font-size: 1.25rem;
}

.form-section-collapsed{
  display: none;
}

.form-component-clear {
  span{
    position:relative;
    top:20px;
    padding: 10px;
  }
}

//////////////////////////////////////////////////////////////////////////////

// TODO: Possibly used by a library, or possibly unused
.modal-dialog {
  margin-top: 100px !important;
}

.form-cancel {
  margin-left:25px;
}

.form-component-MuiInput {
  margin-bottom: 0px;
}

.multi-select-buttons-button {
  border-radius: 0px !important;
  text-transform: none !important;
  min-width: 63px !important;
}

.multi-select-buttons-label {
  margin-right: 10px;
}

.form-component-AlignmentCheckbox {
  position:relative;
}
