name: Deploy EA Staging
concurrency: deploy-ea-dev
on:
  push:
    branches: [ wh-deploy-debug ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x]
        environment: [EAForum-Staging-deployment-debug]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '>=3.5' # Version range or exact version of a Python version to use, using SemVer's version range syntax
    - run: pip3 install --upgrade pip awsebcli
    - name: Run Deploy
      run: scripts/deploy.sh EAForum ${{ matrix.environment }}
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.CEA_AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.CEA_AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "us-east-1"
