
name: Run Unit Tests
on: [push, pull_request]
jobs:
  buildAndTest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: yarn install
      run: yarn install

    - name: yarn run lint
      run: yarn run lint

    - name: yarn run test-ci
      run: yarn run test-ci
